<form>
    <div class="form-group">
        <div class="row ml-0"> <h5>Sugerir Oferta</h5></div>
        <div class="row">
            <div class="col-10">
                <textarea
                    class="form-control"
                    id="exampleFormControlTextarea1"
                    rows="3"
                ></textarea>
            </div>
            <div class="col-2">
                <input
                    class="btn btn-default btn-secondary m-4"
                    type="submit"
                    value="Sugerir"
                />
            </div>
        </div>
    </div>
</form>
