fieldset {
    border: 1px solid gray;

    legend {
        width: auto;
    }
}

#terminos_aceptados {
    margin-top: 7.5px;
}

.text-decoration-underline {
    text-decoration: underline;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    text-align: center;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    width: 100%;
    cursor: pointer;
}

.remove-image-btn {
    color: red;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-size: x-small;
    text-decoration: underline;
}