<app-navbar></app-navbar>

<div class="container mt-4 animate__animated animate__fadeIn animate__faster">
    <h1>Inicio de sesión</h1>

 	<main class="container">
        <section role="main">

            <div class="row d-flex">
                <form
                    class="col-7"
                    id="form-login-uned"
                    role="form"
                    autocomplete="off"
                    [formGroup]="loginUnedForm"
                    (ngSubmit)="loginUned()">

                    <div class="card my-2 mr-2 p-4">

                        <fieldset>
                            <legend>
                                <strong>Login UNED</strong>
                                <a class="float-right" href="http://www.uned.es" title="Acceso a página Principal de la UNED"><img src="/assets/img/logo-uned.jpg" id="img_cabecera" class="img-responsive pull-left" alt="Logo Universidad Nacional a Distancia" width="36" height="36"></a>
                            </legend>

                            <div class="panel-body">

                                <div class="form-group">
                                    <label for="uned_name">Nombre de usuario (correo electrónico)</label>
                                    <input name="uned_name" type="email" id="uned_name" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false" autofocus="" placeholder="Introduzca su Usuario" formControlName="email">
                                </div>

                                <div class="form-group">
                                    <label for="uned_password">Contraseña</label>
                                    <input name="uned_password" type="password" id="uned_password" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false" autofocus="" placeholder="Introduzca su Contraseña" formControlName="password">
                                </div>


                                <div class="form-check text-right">
                                    <input aria-label="Remember" type="checkbox" class="form-check-input mt-2" id="uned_remember" formControlName="remember">
                                    <label class="form-check-label">Recordar usuario</label>
                                </div>

                                <div class="alert alert-warning mt-3" role="alert">
                                    <p>
                                        Este es un simulador de login para el SSO de la UNED.<br />
                                        Usuarios de prueba:
                                    </p>
                                    <ul>
                                        <li class="shortcut_data" (click)="this.loginUnedForm.get('email').setValue('gestor@uned.es');">gestor@uned.es - ****</li>
                                        <li class="shortcut_data" (click)="this.loginUnedForm.get('email').setValue('socio@uned.es');">socio@uned.es - ****</li>
                                        <li class="shortcut_data" (click)="this.loginUnedForm.get('email').setValue('profesor@uned.es');">profesor@uned.es - ****</li>
                                        <li class="shortcut_data" (click)="this.loginUnedForm.get('email').setValue('alumno@uned.es');">alumno@uned.es - ****</li>
                                    </ul>
                                </div>

                                <div class="float-right mb-2">
                                    <input type="submit" value="Acceder vía SSO UNED" class="btn btn-default btn-primary">
                                </div>

                            </div>
                        </fieldset>


                    </div>
                </form>

                <form
                    class="col-5"
                    id="form-login-externo"
                    role="form"
                    autocomplete="off"
                    [formGroup]="loginExternoForm"
                    (ngSubmit)="loginExterno()">


                    <div class="card my-2 mr-2 p-4">

                        <fieldset>
                            <legend>
                                <strong>Login externo</strong>
                            </legend>

                            <div class="panel-body">

                                <div class="form-group">
                                    <label for="externo_name">Nombre de usuario (correo electrónico)</label>
                                    <input name="externo_name" type="email" id="externo_name" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false" autofocus="" placeholder="Introduzca su Usuario" formControlName="email">
                                </div>

                                <div class="form-group">
                                    <label for="externo_password">Contraseña</label>
                                    <input name="externo_password" type="password" id="externo_password" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false" autofocus="" placeholder="Introduzca su Contraseña" formControlName="password">
                                </div>

                                <div class="form-check text-right">
                                    <input aria-label="Remember" type="checkbox" class="form-check-input mt-2" id="externo_remember" formControlName="remember">
                                    <label class="form-check-label">Recordar usuario</label>
                                </div>

                                <div class="alert alert-warning mt-3" role="alert">
                                    <p>
                                        Acceso para usuarios no UNED.<br />
                                        Usuarios de prueba:
                                    </p>
                                    <ul>
                                        <li class="shortcut_data" (click)="this.loginExternoForm.get('email').setValue('socio@externo.es'); ">socio@externo.es - ****</li>
                                        <li class="shortcut_data" (click)="this.loginExternoForm.get('email').setValue('profesor@externo.es'); ">profesor@externo.es - ****</li>
                                        <li class="shortcut_data" (click)="this.loginExternoForm.get('email').setValue('alumno@externo.es'); ">alumno@externo.es - ****</li>
                                    </ul>
                                    <br />
                                </div>

                                <div class="float-right mb-2">
                                    <input type="submit" value="Acceder (externos)" class="btn btn-default btn-primary">
                                </div>

                            </div>
                        </fieldset>


                    </div>
                </form>
            </div>

            <div class="row">
                <form id="form-login-google" autocomplete="off" role="form" class="col-12">

                    <div class="card my-2 mr-2 p-4">

                        <fieldset>
                            <legend>
                                <strong>Ejemplo SSO externo - Google (solo estudiantes)</strong>
                            </legend>

                            <div class="panel-body d-flex flex-column align-items-center">
                                <div id="my-signin2" class="my-4"></div>
                            </div>
                        </fieldset>
                    </div>
                </form>
            </div>
        </section>
 	</main>

</div>

<app-footer></app-footer>