<app-navbar></app-navbar>
<div class="container mt-4 animate__animated animate__fadeIn animate__faster">
    <h1>Zona de administración</h1>
    <hr>

    <h2 class="px-4 py-2 mb-4 text-white display-block bg-secondary">Gestión de usuarios</h2>


    <div *ngIf="cargando" class="alert alert-info text-center animate__animated animate__fadeIn animate__fast" role="alert">
        <h4>Cargando</h4>
        <fa-icon [icon]="['fas', 'sync']" [spin]="true"></fa-icon>
        <p class="mb-">Por favor, espere</p>
    </div>

    <div class="card my-2 mr-2" *ngIf="!cargando">
        <div class="card-header d-flex justify-content-between">
            <span>Usuarios registrados en la aplicación</span>
            <span *ngIf="totalUsuariosBuscados == totalUsuarios">Total de usuarios: {{ totalUsuarios }} (mostrando del {{ firstPageRecord }} al {{ lastPageRecord }})</span>
            <span *ngIf="totalUsuariosBuscados != totalUsuarios">Usuarios que coinciden con el filtro: {{ totalUsuariosBuscados }} (mostrando del {{ firstPageRecord }} al {{ lastPageRecord }})</span>

        </div>

        <div class="card-body">

            <input [(ngModel)]="terminoBusqueda" (keyup)="cargarUsuarios()" (search)="cargarUsuarios()" type="search" class="form-control float-right mb-4" placeholder="Buscar usuario...">

            <table class="table table-sm table-bordered">
                <caption>Listado de usuarios</caption>
                <thead>
                    <tr class="text-center">
                        <th scope="col" class="w-40px">Avatar</th>
                        <th scope="col">Email</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Info adicional</th>
                        <th scope="col" class="w-140px">Rol</th>
                        <th scope="col" class="w-100px">Login</th>
                        <th scope="col" class="w-100px">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios" class="text-center">
                        <td>
                            <img [src]="usuario.imagenUrl" width="40" height="40" class="rounded-circle">
                        </td>
                        <td>{{ usuario.email }}</td>
                        <td>{{ usuario.nombre }}</td>
                        <td>{{ usuario.apellidos }}</td>
                        <td [innerHTML]="usuario.additionalInfo"></td>

                        <td>
                            <select class="form-control" [(ngModel)]="usuario.rol" (change)="cambiarRol(usuario)" [disabled]="esUsuarioActual(usuario)">
                                <option [selected]="usuario.rol == 'ROL_ESTUDIANTE'" value="ROL_ESTUDIANTE">Estudiante</option>
                                <option [selected]="usuario.rol == 'ROL_PROFESOR'" value="ROL_PROFESOR">Profesor</option>
                                <option [selected]="usuario.rol == 'ROL_SOCIO_COMUNITARIO'" value="ROL_SOCIO_COMUNITARIO">Socio comunitario</option>
                                <option [selected]="usuario.rol == 'ROL_GESTOR'" value="ROL_GESTOR">Gestor</option>
                            </select>
                        </td>

                        <td>{{ usuario.origin_login }}</td>
                        <td>
                          <div class="d-flex justify-content-around">
                            <fa-icon [icon]="['fas', 'edit']" class="text-primary cursor-pointer" [routerLink]="['/gestor/gestion-usuarios/editar', usuario.uid]" title="Editar usuario"></fa-icon>
                            <fa-icon [icon]="['fas', 'times']" class="cursor-pointer" [ngClass]="{ 'text-danger': !esUsuarioActual(usuario), 'text-muted': esUsuarioActual(usuario)}" title="Deshabilitar usuario" (click)="eliminarUsuario(usuario)"></fa-icon>
                          </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="text-right mb-3">
                <button (click)="cambiarPagina(prevLimit)" class="btn btn-outline-secondary">Anteriores</button>
                &nbsp;
                <button (click)="cambiarPagina(nextLimit)" class="btn btn-outline-secondary">Siguientes</button>
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>
