<app-navbar></app-navbar>
<div class="container mt-4 animate__animated animate__fadeIn animate__faster">
    <h5 class="px-4 py-2 mb-4 text-white display-block bg-secondary"><strong>Sobre ApS UNED - Contacta</strong></h5>


    <div class="card">
        <div class="card-body">
            <p>Por favor, rellena el siguiente formulario para contactar con nosotros.</p>
            <hr class="mb-4"/>

            <form
                (ngSubmit)="enviarMailContacto()"
                *ngIf="contactForm"
                [formGroup]="contactForm"
                autocomplete="off"
                class="col-12"
                id="form-contacto"
                role="form">


            <div class="d-flex">
                    <div *ngIf="this.contactForm.invalid && this.formSubmitted" class="flex-fill alert alert-danger mr-3" role="alert">
                        <div *ngIf="campoNoValido('email')" class="col">{{ campoNoValido('email') }}</div>
                        <div *ngIf="campoNoValido('nombre')" class="col">{{ campoNoValido('nombre') }}</div>
                        <div *ngIf="campoNoValido('apellidos')" class="col">{{ campoNoValido('apellidos') }}</div>
                        <div *ngIf="campoNoValido('area')" class="col">{{ campoNoValido('area') }}</div>
                        <div *ngIf="campoNoValido('mensaje')" class="col">{{ campoNoValido('mensaje') }}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input class="form-control" formControlName="nombre" id="nombre" name="nombre" placeholder="Introduce tu nombre" type="text">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="apellidos">Apellidos</label>
                            <input class="form-control" formControlName="apellidos" id="apellidos" name="apellidos" placeholder="Introduce tus apellidos" type="text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">Correo electrónico</label>
                            <input class="form-control" formControlName="email" id="email" name="email" placeholder="Introduce tu correo electrónico (para poder contactar contigo)" type="email">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="area-pregunta">Área sobre la que trata el mensaje</label>
                            <select class="form-control" formControlName="area" id="area-pregunta" name="area">
                                <option value="Pregunta sin categorizar">Pregunta sin categorizar</option>
                                <option value="Sugerir Oferta">Sugerir Oferta</option>
                                <option value="Problema con la aplicación">Problema con la aplicación</option>
                                <option value="Relacionado con el sistema de registro y login">Relacionado con el sistema de registro y login</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="mensaje">Mensaje</label>
                            <textarea class="form-control" formControlName="mensaje" id="mensaje" name="mensaje" placeholder="Escribe lo que quieras contarnos" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <input [disabled]="this.formSending || (this.formSubmitted && this.contactForm.invalid)" [value]="this.formSending ? 'Enviando...' : 'Enviar mensaje'" class="btn btn-success float-right" type="submit">
                    </div>

                </div>
            </form>
        </div>
    </div>

</div>
<app-footer></app-footer>
