<h5>Notificaciones</h5> 
<app-checkbox-notificaciones></app-checkbox-notificaciones>

<hr class="mt-4">
<h5>Convocatorias abiertas de proyectos de ApS en tu titulación</h5>
<div class="row">
    <app-proyectos-card class="col-sm-6 col-lg-4 mb-3" ></app-proyectos-card>  
    <app-proyectos-card class="col-sm-6 col-lg-4 mb-3" ></app-proyectos-card>  
    <app-proyectos-card class="col-sm-6 col-lg-4 mb-3" ></app-proyectos-card>  
</div>  
<hr class="mt-4">
<app-sugerir-oferta></app-sugerir-oferta>
<hr class="mt-4">
<h5>Mis Proyectos</h5>
<div class="row">
    <app-proyectos-card class="col-sm-6 col-lg-4 mb-3" ></app-proyectos-card>  
    <app-proyectos-card class="col-sm-6 col-lg-4 mb-3" ></app-proyectos-card>  
    <app-proyectos-card class="col-sm-6 col-lg-4 mb-3" ></app-proyectos-card>  
</div>  

<hr class="mt-4">
<h5>FAQ</h5> 
<app-faq></app-faq>
