# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules/

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Yarn files
.yarn/install-state.gz
.yarn/build-state.yml
.yarn/cache

# Local env files
.env
.env.*
!.env.example

# Ignore package locks
package-lock.json
