<app-navbar></app-navbar>
<div class="container mt-4 animate__animated animate__fadeIn animate__faster">
    <h5 class="px-4 py-2 mb-4 text-white display-block bg-secondary d-flex justify-content-between">
        <strong>{{pageTitle}}</strong>
    </h5>

    <div *ngIf="!this.usuarioService.usuario" class="alert alert-warning" role="alert">
        <strong>Atención: </strong> Estás en la aplicación como <strong>usuario invitado</strong>. Sólo los Profesores y Entidades pueden participar en los PARTENARIADOS.
    </div>

    <div *ngIf="this.usuarioService.usuario && this.usuarioService.usuario.esEstudiante" class="alert alert-warning" role="alert">
        <strong>Atención: </strong> Estás en la aplicación como <strong>ESTUDIANTE</strong>. Sólo los Profesores y Entidades pueden participar en los PARTENARIADOS.
    </div>

    <div class="row">
        <div class="col-3">

            <header class="card-header mb-2 rounded border"><h6 class="title mb-0">Filtros</h6></header>

            <div class="card">

                <div class="filtro">
                    <header class="card-header">
                        <h6 class="title mb-0">Búsqueda </h6>
                    </header>

                    <div class="card-body">
                        <input (keyup)="cargarPartenariados()" (search)="cargarPartenariados()" [(ngModel)]="terminoBusqueda" class="form-control float-right mb-4" placeholder="Buscar por título..." type="search">
                    </div>
                </div>


                <div class="filtro">
                    <header class="card-header border-top rounded-0">
                        <h6 class="title mb-0">Rama de conocimiento </h6>
                    </header>

                    <div class="card-body">
                        <label *ngFor="let RAMA of RAMAS" class="form-check">
                            <input (change)="cargarPartenariados()" [(ngModel)]="filterRamas[RAMA]" [value]="true" class="form-check-input" type="checkbox">
                            <span class="form-check-label">{{ RAMA }}</span>
                        </label>
                    </div>
                </div>


                <div class="filtro">
                    <header class="card-header border-top rounded-0">
                        <h6 class="title mb-0">Ciudad </h6>
                    </header>

                    <div class="card-body">
                        <label *ngFor="let CIUDAD of CIUDADES" class="form-check">
                            <input (change)="cargarPartenariados()" [(ngModel)]="filterCiudades[CIUDAD]" [value]="true" class="form-check-input" type="checkbox">
                            <span class="form-check-label">{{ CIUDAD }}</span>
                        </label>
                    </div>
                </div>


                <div class="filtro">
                    <header class="card-header border-top rounded-0">
                        <h6 class="title mb-0">Estado </h6>
                    </header>

                    <div class="card-body">
                        <label class="form-check">
                            <input (change)="cargarPartenariados()" [(ngModel)]="filterEstado" class="form-check-input" name="ESTADO_PARTENARIADO" type="radio" value="">
                            <span class="form-check-label">Todos</span>
                        </label>

                        <label *ngFor="let ESTADO_PARTENARIADO of ESTADOS_PARTENARIADOS" class="form-check">
                            <input (change)="cargarPartenariados()" [(ngModel)]="filterEstado" class="form-check-input" name="ESTADO_PARTENARIADO" type="radio" value="{{ ESTADO_PARTENARIADO }}">
                            <span class="form-check-label">{{ ESTADO_PARTENARIADO }}</span>
                        </label>
                    </div>
                </div>
 


            </div>
        </div>


        <div class="col-9">

            <header class="card-header mb-2 rounded border d-flex justify-content-between">
                <h6 class="title mb-0">Listado de Partenariados <span *ngIf="totalPartenariadosBuscados != totalPartenariados" class="leading-none"><sub>(total: {{ totalPartenariados }})</sub></span></h6>

                <span *ngIf="totalPartenariadosBuscados == totalPartenariados" class="leading-none">Total de partenariados: {{ totalPartenariados }} (mostrando del {{ firstPageRecord }} al {{ lastPageRecord }})</span>
                <span *ngIf="totalPartenariadosBuscados != totalPartenariados" class="leading-none">Partenariados que coinciden con el filtro: {{ totalPartenariadosBuscados }} (mostrando del {{ firstPageRecord }} al {{ lastPageRecord }})</span>
            </header>


            <div class="card my-2">

                <!-- Info de cargando -->
                <div *ngIf="cargando" class="mb-0 alert alert-info text-center animate__animated animate__fadeIn animate__fast" role="alert">
                    <h4>Cargando partenariados</h4>
                    <fa-icon [icon]="['fas', 'sync']" [spin]="true"></fa-icon>
                    <p class="mb-">Por favor, espere</p>
                </div>

                <!-- Tabla cargada -->
                <div *ngIf="!cargando" class="card-body">

                    <div class="text-right mb-3">
                        <button (click)="cambiarPagina(prevLimit)" class="btn btn-outline-secondary">Anteriores</button>
                        &nbsp;
                        <button (click)="cambiarPagina(nextLimit)" class="btn btn-outline-secondary">Siguientes</button>
                    </div>

                    <div class="row">
                        <app-partenariado-card class="col-sm-6 col-lg-4 mb-3" *ngFor="let partenariado of partenariados" [partenariado]="partenariado"></app-partenariado-card> 
                    </div> 
 
                </div>
            </div>
        </div>
    </div>


</div>
<app-footer></app-footer>
