<app-navbar></app-navbar>
<div class="container mt-4 animate__animated animate__fadeIn animate__faster">
    <h1>Formulario de registro</h1>

 	<main class="container">
        <section role="main">

            <div class="row d-flex">
                <form
                    class="col-12"
                    id="form-register"
                    role="form"
                    autocomplete="off"
                    [formGroup]="registerForm"
                    (ngSubmit)="register()">

                    <div class="card my-2 mr-2 p-4">

                            <h2>
                                <strong>Selección de perfil de usuario</strong>
                                <a class="float-right" href="http://www.uned.es" title="Acceso a página Principal de la UNED"><img src="/assets/img/logo-uned.jpg" id="img_cabecera" class="img-responsive pull-left" alt="Logo Universidad Nacional a Distancia" width="36" height="36"></a>
                            </h2>

                            <div class="panel-body">

                                <p>En esta página puedes registrarte dentro de la aplicación <strong>Portal ApS</strong>.</p>
                                <p>Si deseas utilizar tu cuenta de la UNED, no es necesario que te registres, entra en la pantalla <a href="javascript:void(0)" [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a> y utiliza el SSO de la UNED.</p>
                                <p>Si deseas utilizar tu cuenta de la Google como Estudiante, no es necesario que te registres, entra en la pantalla <a href="javascript:void(0)" [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a> y utiliza el SSO de la Google.</p>

                                <fieldset class="p-4 mb-2">
                                    <legend class="mb-0 px-2"><strong>Informacion de usuario</strong></legend>

                                    <div class="form-group">
                                        <label>Perfil de Usuario (<a href="javascript:void(0)" target="_blank" [routerLink]="['/como-participar/estudiantes']">Estudiantes</a>, <a href="javascript:void(0)" target="_blank" [routerLink]="['/como-participar/profesores']">Profesores</a>, <a href="javascript:void(0)" target="_blank" [routerLink]="['/como-participar/socioscomunitarios']">Socios comunitarios</a>)</label>
                                        <select class="form-control" formControlName="rol">
                                            <option value="">Elegir un tipo de perfil</option>
                                            <option *ngFor="let role of roles; let i = index" [value]="roles[i].id">{{roles[i].name}}</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="email">Correo electrónico (se usará como login) *</label>
                                        <input name="email" type="email" [class.is-invalid] = "registerForm.get('email').invalid && registerForm.get('email').touched" id="email" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false" placeholder="Introduzca su Correo" formControlName="email">
                                        <div *ngIf="(primEmail.invalid && primEmail.touched) || primEmail.dirty">
                                            <small *ngIf="primEmail.errors?.required" class="text-danger">El email es un campo requerido</small>
                                            <!--question mark(?) is a safe navigation operator-->
                                            <small *ngIf="primEmail.errors?.pattern" class="text-danger">Por favor introduzca un mail valido </small>
                                          </div>
                                    </div>



                                    <div class="d-flex">
                                        <div class="form-group flex-fill mr-2">
                                            <label for="password">Contraseña *</label>
                                            <input name="password" type="password" [class.is-invalid] = "registerForm.get('password').invalid && registerForm.get('password').touched"  id="password" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false" placeholder="Introduzca su Contraseña" formControlName="password">
                                            <div id="mensajePassword" *ngIf="(GetPassword.invalid && GetPassword.touched)">
                                                <small *ngIf="GetPassword.errors?.required" class="text-danger"> La contraseña es un campo requerido</small>
                                                <small  *ngIf="GetPassword.errors?.pattern" class="text-danger">Por favor introduzca una contraseña valida: Debe contener al menos un número, una mayuscula ,una minuscula y al menos un caracter especial </small>
                                              </div>
                                        </div>

                                        <div class="form-group flex-fill ml-2">
                                            <label for="password_2">Repetir Contraseña *</label>
                                            <input name="password_2" type="password" id="password_2" class="form-control" autocorrect="off" [class.is-invalid] = "registerForm.get('password_2').invalid && registerForm.get('password_2').touched " autocapitalize="none" spellcheck="false" placeholder="Repita su Contraseña" formControlName="password_2">
                                            <div *ngIf="(GetPasswordConfirm.invalid && GetPasswordConfirm.touched)">
                                            <small *ngIf="GetPasswordConfirm.errors?.required" class="text-danger">Confirmar contraseña es un campo requerido</small>
                                            </div>
                                            <div *ngIf="registerForm.errors">
                                                <small class="text-danger" *ngIf="registerForm.errors['password-mismatch']">
                                                    Las contraseñas no coinciden.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>


                                <fieldset class="p-4 mb-2">
                                    <legend class="mb-0 px-2"><strong>Informacion personal</strong></legend>


                                    <div class="d-flex">
                                        <div class="form-group flex-fill mr-2">
                                            <label for="nombre">Nombre *</label>
                                            <input name="nombre" type="text" id="nombre" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false" placeholder="Introduzca su Nombre" [class.is-invalid] = "registerForm.get('nombre').invalid && registerForm.get('nombre').touched" formControlName="nombre">
                                            <div *ngIf="(getNombre.invalid && getNombre.touched)">
                                                <small *ngIf="getNombre.errors?.required" class="text-danger">El nombre es un campo requerido</small>
                                              </div>
                                        </div>

                                        <div class="form-group flex-fill ml-2">
                                            <label for="apellidos">Apellidos *</label>
                                            <input name="apellidos" type="text" id="apellidos" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false" placeholder="Introduzca su(s) Apellido(s)" [class.is-invalid] = "registerForm.get('apellidos').invalid && registerForm.get('apellidos').touched" formControlName="apellidos">
                                            <div *ngIf="(getApellidos.invalid && getApellidos.touched)">
                                                <small *ngIf="getApellidos.errors?.required" class="text-danger">El apellido es un campo requerido</small>
                                              </div>
                                        </div>

                                        <div class="form-group flex-fill ml-2">
                                            <label for="telefono">Número de teléfono *</label>
                                            <input name="telefono" type="text" id="telefono" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false" placeholder="Introduzca su teléfono" [class.is-invalid] = "registerForm.get('telefono').invalid && registerForm.get('telefono').touched" formControlName="telefono">
                                            <div *ngIf="(getTelefono.invalid && getTelefono.touched)">
                                                <small *ngIf="getTelefono.errors?.required" class="text-danger">El teléfono es un campo requerido</small>
                                              </div>
                                        </div>
                                    </div>

                                </fieldset>

                                <fieldset class="p-4 mb-2" *ngIf="this.registerForm.get('rol').value !== ''">
                                    <legend class="mb-0 px-2"><strong>Informacion de perfil</strong></legend>
                                    <div class="form-group" *ngIf="['ROL_ESTUDIANTE', 'ROL_PROFESOR'].includes(this.registerForm.get('rol').value)">
                                        <label for="universidad">Universidad *</label>
                                        <!-- <input name="universidad" type="text" id="universidad" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false" placeholder="Introduzca su universidad" [class.is-invalid] = "registerForm.get('universidad').invalid && registerForm.get('universidad').touched" formControlName="universidad"> -->
                                        <input name="universidad" type="text" id="universidad"  list="codes"  formControlName="universidad"  class="form-control" [class.is-invalid] = "registerForm.get('universidad').invalid && registerForm.get('universidad').touched" placeholder="Introduzca su universidad">
                                        <datalist id="codes">
                                        <option *ngFor="let c of codeList" [value]="c.nombre" ></option>
                                        </datalist>
                                        <small class="text-danger" *ngIf="noListMatch()">Debe elegir una universidad valida</small>

                                    </div>
                                    <div class="form-group" *ngIf="['ROL_PROFESOR'].includes(this.registerForm.get('rol').value)">
                                        <label for="areaConocimiento">Area/s de conocimiento UNESCO *</label>
                                        <ng-multiselect-dropdown
                                        name="areaConocimiento"
                                        [settings]="dropdownSettings"
                                        [placeholder]="'Selecciona la/s area/s de conocimiento'"
                                        [data]="areasList"
                                        formControlName="areaConocimiento"
                                        >
                                        <ng-template
                                            #optionsTemplate
                                            let-item
                                            let-option="option"
                                            let-id="id"
                                            let-isSelected="isSelected"
                                        >
                                            <div
                                            style="
                                                padding: 1px 10px;
                                                margin-right: 10px;
                                                right: 2px;
                                                top: -2px;
                                            "
                                            >
                                            <label
                                                style="color: #333; min-width: 130px; font-weight: normal;"
                                                [ngStyle]="{ 'font-weight': isSelected? 'bold':' normal','color': getItems[id].isDisabled? 'lightgrey': ''}"
                                                >{{getItems[id].nombre}}</label
                                            >
                                            </div>
                                        </ng-template>
                                        <ng-template #optionSelectedTemplate let-option="option" let-id="id">
                                            <div>
                                            {{option}}
                                            </div>
                                        </ng-template>
                                        </ng-multiselect-dropdown>

                                    </div>


                                    <div class="form-group" *ngIf="['ROL_ESTUDIANTE'].includes(this.registerForm.get('rol').value)">
                                        <label for="titulacion">
                                            <ng-container *ngIf="this.registerForm.get('rol').value === 'ROL_ESTUDIANTE';">
                                                Titulación *
                                            </ng-container>
                                        </label>
                                        <input name="titulacion" type="text" id="titulacion" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false" placeholder="Introduzca su titulación" [class.is-invalid] = "registerForm.get('titulacion').invalid && registerForm.get('titulacion').touched"  formControlName="titulacion">

                                    </div>

                                    <div class="form-group" *ngIf="['ROL_PROFESOR'].includes(this.registerForm.get('rol').value)">
                                        <label for="facultad">
                                            <ng-container *ngIf="this.registerForm.get('rol').value === 'ROL_PROFESOR';">
                                                Facultad / Escuela *
                                            </ng-container>
                                        </label>
                                        <input name="facultad" type="text" id="facultad" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false" placeholder="Introduzca su facultad" [class.is-invalid] = "registerForm.get('facultad').invalid && registerForm.get('facultad').touched"  formControlName="facultad">

                                    </div>

                                    <div class="form-group" *ngIf="['ROL_SOCIO_COMUNITARIO'].includes(this.registerForm.get('rol').value)">
                                        <label for="sector">Sector</label>
                                        <input name="sector" type="text" id="sector" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false" placeholder="Introduzca su sector" [class.is-invalid] = "registerForm.get('sector').invalid && registerForm.get('sector').touched"  formControlName="sector">

                                    </div>

                                    <div class="form-group" *ngIf="['ROL_SOCIO_COMUNITARIO'].includes(this.registerForm.get('rol').value)">
                                        <label for="url">URL</label>
                                        <input name="url" type="text" id="url" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false" placeholder="Introduzca su URL" [class.is-invalid] = "registerForm.get('url').invalid && registerForm.get('url').touched"  formControlName="url">

                                    </div>

                                    <div class="form-group" *ngIf="['ROL_SOCIO_COMUNITARIO'].includes(this.registerForm.get('rol').value)">
                                        <label for="mision">Misión</label>
                                        <input name="mision" type="text" id="mision" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false" placeholder="Introduzca su misión" [class.is-invalid] = "registerForm.get('mision').invalid && registerForm.get('mision').touched"  formControlName="mision">

                                    </div>

                                    <div class="form-group" *ngIf="['ROL_SOCIO_COMUNITARIO'].includes(this.registerForm.get('rol').value)">
                                        <label for="nombreSocioComunitario">Nombre socio comunitario</label>
                                        <input name="nombreSocioComunitario" type="text" id="nombreSocioComunitario" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false" placeholder="Introduzca el nombre del socio comunitario" [class.is-invalid] = "registerForm.get('nombreSocioComunitario').invalid && registerForm.get('nombreSocioComunitario').touched"  formControlName="nombreSocioComunitario">

                                    </div>
                                </fieldset>


                                <div id="spaceRegister" class="form-check text-left ml-1 mb-2">
                                    <input type="checkbox" class="form-check-input" id="terminos_aceptados" formControlName="terminos_aceptados">
                                    <label class="form-check-label">Acepto las <a href="javascript:void(0)" target="_blank" [routerLink]="['/registro/condiciones-de-uso']">Condiciones de Uso</a></label>
                                </div>
                                <label style="color:green; margin-top:0.5cm;">Los campos obligatorios tienen asterisco.</label>
                                <div class="d-flex">
                                    <div class="flex-fill alert alert-danger mr-3" role="alert" *ngIf="this.registerForm.invalid && this.formSubmitted">
                                        <div class="col">Debes completar/seleccionar correctamente todos los campos</div>
                                        <div *ngIf="passwordsVacias()" class="col">Las contraseñas están en blanco</div>

                                    </div>

                                    <div class="ml-auto mb-2">
                                        <input type="submit" value="Registrarse" class="btn btn-default btn-primary">
                                    </div>
                                </div>

                            </div>

                    </div>
                </form>

            </div>

        </section>
 	</main>

</div>
<app-footer></app-footer>

