fieldset {
    border: 1px solid gray;

    legend {
        width: auto;
    }
}

#terminos_aceptados {
    margin-top: 7.5px;
}

#mensajePassword{
    max-width: fit-content;
}

#spaceRegister{
   height: 45px;
}