
<div id="carouselHome" class="carousel slide carousel-fade" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#carouselHome" data-slide-to="0" class="active"></li>
    <li data-target="#carouselHome" data-slide-to="1"></li>
    <li data-target="#carouselHome" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner" role="listbox">

    <div class="carousel-item active">
      <div class="view">
        <picture>
          <source media="(max-width: 767px)" srcset="./assets/img/carousel1_mobile.jpg">
          <source media="(min-width: 768px)" srcset="./assets/img/carousel1.jpg">
          <img class="d-block w-100" src="./assets/img/carousel1.jpg" alt="Imagen 1 del carousel - Incorpora el ApS en tu docencia">
        </picture>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Incorpora el ApS en tu docencia</h3>
      </div>
    </div>

    <div class="carousel-item">
      <div class="view">
        <picture>
          <source media="(max-width: 767px)" srcset="./assets/img/carousel2_mobile.jpg">
          <source media="(min-width: 768px)" srcset="./assets/img/carousel2.jpg">
          <img class="d-block w-100" src="./assets/img/carousel2.jpg" alt="Imagen 2 del carousel - Cursa asignaturas que integran ApS">
        </picture>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Cursa asignaturas que integran ApS</h3>
      </div>
    </div>

    <div class="carousel-item">
      <div class="view">
        <picture>
          <source media="(max-width: 767px)" srcset="./assets/img/carousel3_mobile.jpg">
          <source media="(min-width: 768px)" srcset="./assets/img/carousel3.jpg">
          <img class="d-block w-100" src="./assets/img/carousel3.jpg" alt="Imagen 3 del carousel - Contribuye a la formación universitaria recibiendo un servicio para tu socio comunitario">
        </picture>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Contribuye a la formación universitaria recibiendo un servicio para tu socio comunitario</h3>
      </div>
    </div>

  </div>


  <a class="carousel-control-prev" href="#carouselHome" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselHome" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>


</div>
