<app-navbar></app-navbar>
<div class="container mt-4 animate__animated animate__fadeIn animate__faster">

    <h5 class="px-4 py-2 mb-4 text-white display-block bg-secondary d-flex justify-content-between align-items-center">
        <strong>Ver Partenariado</strong>
        <a [routerLink]="['/mis-partenariados']" class="btn btn-primary border-white btn-sm" role="button">Volver a Mis Partenariados</a>
    </h5>

    <div *ngIf="partenariado?.proponedor.rol === 'ROL_SOCIO_COMUNITARIO' && this.usuarioService.usuario && this.usuarioService.usuario.esSocioComunitario" class="alert alert-warning" role="alert">
        <strong>Atención: </strong> Estás en la aplicación como <strong>Socio comunitario</strong>. Sólo un Profesor puede convertir este partenariado en PROYECTO.
    </div>

    <div *ngIf="partenariado?.estado !== 'En negociación' " class="alert alert-warning" role="alert">
        <strong>Atención: </strong> Esta PARTENARIADO ya no está en negociación. Se puede seguir viendo a modo de consulta. Si crees que este partenariado se ha cerrado por error, por favor, <a [routerLink]="['/sobre-ApS-UNED/contacta']" class="font-weight-bold">contacta con el Gestor</a> para que evalúe si puede proceder a abrirlo de nuevo.
    </div>


    <!-- Info de cargando -->
    <div *ngIf="!partenariado" class="mb-0 alert alert-info text-center animate__animated animate__fadeIn animate__fast" role="alert">
        <h4>Cargando partenariado...</h4>
        <fa-icon [icon]="['fas', 'sync']" [spin]="true"></fa-icon>
        <p class="mb-">Por favor, espere</p>
    </div>


    <div *ngIf="partenariado" class="row">

        <div class="col-9">

            <header class="card-header mb-2 border d-flex justify-content-between align-items-center">
                <h6 class="title mb-0"><strong>Partenariado: {{ partenariado.titulo }}</strong></h6>
                <span><strong>Estado: {{ partenariado.estado }}</strong></span>
            </header>

            <div class="card my-2 p-3">
                <div class="d-flex justify-content-between">
                    <div><strong>Rama de conocimiento:</strong> {{ partenariado.rama }}</div>
                    <div><strong>Ciudad:</strong> {{ partenariado.ciudad }}</div>
                </div>
                <hr/>

                <p><strong>Fecha de registro de la partenariado:</strong> {{ partenariado.parsedCreatedAt }}</p>
                <p><strong>Descripción:</strong> {{ partenariado.descripcion }}</p>
                <p><strong>¿Quién es el responsable de la partenariado?:</strong></p>
                <ul>
                    <li><strong><em>Nombre y Apellidos: </em></strong>{{ partenariado.proponedor.nombre}} {{ partenariado.proponedor.apellidos}}</li>
                    <li>
                        <strong><em>
                            <span *ngIf="['ROL_ESTUDIANTE', 'ROL_PROFESOR', 'ROL_GESTOR'].includes(partenariado.proponedor.rol)">Universidad / Titulación: </span>
                            <span *ngIf="['ROL_ESTUDIANTE'].includes(partenariado.proponedor.rol)">Sector: </span>
                        </em></strong>
                        {{ partenariado.proponedor.additionalInfoPlain || 'Sin información'}}
                    </li>
                    <li><strong><em>Rol en la aplicación: </em></strong>{{ partenariado.proponedor.displayRol}}</li>
                </ul>


            </div>


            <header *ngIf="partenariado.estado == 'En negociación'" class="card-header mb-2 border d-flex justify-content-between">
                <h6 class="title mb-0"><strong>Escribir Mensaje</strong></h6>
            </header>

            <header *ngIf="partenariado.estado != 'En negociación'" class="card-header mb-2 border d-flex justify-content-between">
                <h6 class="title mb-0"><strong>El partenariado ya no está en negociación y no se pueden escribir mensajes </strong></h6>
            </header>

            <div *ngIf="partenariado.estado == 'En negociación'" class="card my-2 p-3">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="mensaje">Mensaje</label>
                        <textarea [(ngModel)]="mensaje" class="form-control" id="mensaje" name="mensaje" placeholder="Escribe un mensaje" rows="3"></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <input (click)="enviarMensaje()" [disabled]="this.mensaje == ''" [value]="'Enviar mensaje'" class="btn btn-success float-right" type="submit">
                </div>
            </div>

            <header class="card-header mb-2 border d-flex justify-content-between">
                <h6 class="title mb-0"><strong>Histórico de mensajes del partenariado</strong></h6>
            </header>


            <div *ngIf="!numeroMensajes()" class="card my-2 p-3">
                Aún no hay ningún mensaje...
            </div>

            <div *ngFor="let mensaje of partenariado.mensajes" class="card my-2 p-3">
                <div class="d-flex justify-content-between">
                    <div><strong>Autor:</strong> {{ mensaje.nombre }} {{ mensaje.apellidos }} <{{ mensaje.email }}> [{{ mensaje.rol}}]</div>
                    <div><strong>Fecha:</strong> {{ parseFecha(mensaje.fecha) }}</div>
                </div>
                <hr/>
                <p>{{ mensaje.texto }}</p>
            </div>

        </div>

        <div class="col-3">

            <div class="card">

                <div class="filtro">
                    <header class="card-header border">
                        <h6 class="title mb-0">Estado </h6>
                    </header>

                    <div class="card-body">
                        <div>
                            <div class="text-center font-weight-bold mb-4">{{partenariado.estado}}</div>
                            <button (click)="cambiarEstado('Acordado')" *ngIf="!partenariado.proyecto && partenariado.estado == 'En negociación' && this.usuarioService.usuario && (this.usuarioService.usuario.esProfesor || this.usuarioService.usuario.esGestor)" class="btn btn-warning border-white btn-sm w-100 font-weight-bold mb-2" role="button">CONVERTIR EN PROYECTO</button>
                            <p *ngIf="!partenariado.proyecto && partenariado.estado == 'En negociación' && this.usuarioService.usuario && (this.usuarioService.usuario.esProfesor || this.usuarioService.usuario.esGestor)">Si pulsas convertir en proyecto, se creará un proyecto y se dará este partenariado por Acordado.</p>

                        </div>

                    </div>
                </div>

                <div *ngIf="this.usuarioService.usuario && (this.usuarioService.usuario.esProfesor || this.usuarioService.usuario.esGestor) && partenariado.estado == 'En negociación'" class="filtro">
                    <header class="card-header border-top rounded-0">
                        <h6 class="title mb-0">Cancelar Partenariado </h6>
                    </header>

                    <div class="card-body">
                        <div>
                            <button (click)="cambiarEstado('Sin respuesta')" *ngIf="this.usuarioService.usuario && (this.usuarioService.usuario.esProfesor || this.usuarioService.usuario.esGestor) && partenariado.estado == 'En negociación'" class="btn btn-danger border-white btn-sm w-100 font-weight-bold mb-2" role="button">Cerrar - Sin respuesta</button>
                            <button (click)="cambiarEstado('Suspendido')" *ngIf="this.usuarioService.usuario && (this.usuarioService.usuario.esProfesor || this.usuarioService.usuario.esGestor) && partenariado.estado == 'En negociación'" class="btn btn-danger border-white btn-sm w-100 font-weight-bold mb-2" role="button">Cerrar - Suspendido</button>

                            <button (click)="cambiarEstado('En negociación')" *ngIf="this.usuarioService.usuario && this.usuarioService.usuario.esGestor && partenariado.estado != 'En negociación'" class="btn btn-success border-white btn-sm w-100 font-weight-bold mb-2" role="button">Reabrir Partenariado</button>
                        </div>

                    </div>
                </div>

                <div *ngIf="this.usuarioService.usuario && this.usuarioService.usuario.esGestor && partenariado.estado != 'En negociación'" class="filtro">
                    <header class="card-header border-top rounded-0">
                        <h6 class="title mb-0">Reabrir Partenariado </h6>
                    </header>

                    <div class="card-body">
                        <div>
                            <button (click)="cambiarEstado('En negociación')" class="btn btn-success border-white btn-sm w-100 font-weight-bold mb-2" role="button">Reabrir Partenariado</button>
                        </div>

                    </div>
                </div>

                <div class="filtro">
                    <header class="card-header border-top rounded-0">
                        <h6 class="title mb-0">Archivos de interés </h6>
                    </header>

                    <div class="card-body">
                        <p *ngIf="partenariado.archivos.length === 0">No se ha subido ningún archivo para este partenariado</p>
                        <ul *ngIf="partenariado.archivos.length > 0" class="list-group">
                            <li *ngFor="let archivo of partenariado.archivos" class="list-group-item">
                                <a href="{{ archivo.url }}" target="_blank">{{ archivo.client_name }}</a>
                                <span (click)="borrarFichero(archivo._id)" *ngIf="this.usuarioService.usuario.esGestor" aria-label="Borrar Fichero" class="remove-image-btn float-right">(x)</span>
                            </li>
                        </ul>


                        <div class="row">
                            <div class="col-12 justify-content-between">
                                <div class="form-group">
                                    <label class="custom-file-upload" for="file-upload-2">
                                        <em class="fa fa-cloud-upload"></em> Subir Fichero (solo pdf)
                                    </label>
                                    <input (change)="subirFichero($event.target.files[0])" id="file-upload-2" type="file"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="filtro">
                    <header class="card-header border-top rounded-0">
                        <h6 class="title mb-0">Partenariado y Proyecto </h6>
                    </header>

                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item"><a [routerLink]="['/ofertas/ver/', partenariado.oferta]">Ver Oferta</a></li>
                        </ul>
                        <ul class="list-group">
                            <li *ngIf="partenariado.proyecto" class="list-group-item"><a [routerLink]="['/proyectos/ver/', partenariado.proyecto]">Ver Proyecto Destino</a></li>
                            <li *ngIf="!partenariado.proyecto" class="list-group-item">El profesor aún no ha dado por acordado este partenariado y por lo tanto no se ha generado ningún proyecto.</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
