<app-navbar></app-navbar>
<div class="container mt-4 animate__animated animate__fadeIn animate__faster">

    <h5 class="px-4 py-2 mb-4 text-white display-block bg-secondary d-flex justify-content-between align-items-center">
        <b>Ver Partenariado</b>
        <a class="btn btn-primary border-white btn-sm" [routerLink]="['/mis-partenariados']" role="button">Volver a Mis Partenariados</a>
    </h5>

    <div class="alert alert-warning" role="alert" *ngIf="partenariado?.proponedor.rol === 'ROL_SOCIO_COMUNITARIO' && this.usuarioService.usuario && this.usuarioService.usuario.esSocioComunitario">
        <b>Atención: </b> Estás en la aplicación como <b>Socio comunitario</b>. Sólo un Profesor puede convertir este partenariado en PROYECTO.
    </div>

    <div class="alert alert-warning" role="alert" *ngIf="partenariado?.estado !== 'En negociación' ">
        <b>Atención: </b> Esta PARTENARIADO ya no está en negociación. Se puede seguir viendo a modo de consulta. Si crees que este partenariado se ha cerrado por error, por favor, <a class="font-weight-bold" [routerLink]="['/sobre-ApS-UNED/contacta']">contacta con el Gestor</a> para que evalúe si puede proceder a abrirlo de nuevo.
    </div>




    <!-- Info de cargando -->
    <div *ngIf="!partenariado" class="mb-0 alert alert-info text-center animate__animated animate__fadeIn animate__fast" role="alert">
        <h4>Cargando partenariado...</h4>
        <fa-icon [icon]="['fas', 'sync']" [spin]="true"></fa-icon>
        <p class="mb-">Por favor, espere</p>
    </div>


    <div class="row" *ngIf="partenariado">

        <div class="col-9">

            <header class="card-header mb-2 border d-flex justify-content-between align-items-center">
                <h6 class="title mb-0"><b>Partenariado: {{ partenariado.titulo }}</b></h6>
                <span><b>Estado: {{ partenariado.estado }}</b></span>
            </header>

            <div class="card my-2 p-3">
                <div class="d-flex justify-content-between">
                    <div><b>Rama de conocimiento:</b> {{ partenariado.rama }}</div>
                    <div><b>Ciudad:</b> {{ partenariado.ciudad }}</div>
                </div>
                <hr />

                <p><b>Fecha de registro de la partenariado:</b> {{ partenariado.parsedCreatedAt }}</p>
                <p><b>Descripción:</b> {{ partenariado.descripcion }}</p>
                <p><b>¿Quién es el responsable de la partenariado?:</b></p>
                <ul>
                    <li><b><i>Nombre y Apellidos: </i></b>{{ partenariado.proponedor.nombre}} {{ partenariado.proponedor.apellidos}}</li>
                    <li>
                        <b><i>
                            <span *ngIf="['ROL_ESTUDIANTE', 'ROL_PROFESOR', 'ROL_GESTOR'].includes(partenariado.proponedor.rol)">Universidad / Titulación: </span>
                            <span *ngIf="['ROL_ESTUDIANTE'].includes(partenariado.proponedor.rol)">Sector: </span>
                        </i></b>
                        {{ partenariado.proponedor.additionalInfoPlain || 'Sin información'}}
                    </li>
                    <li><b><i>Rol en la aplicación: </i></b>{{ partenariado.proponedor.displayRol}}</li>
                </ul>


            </div>



            <header class="card-header mb-2 border d-flex justify-content-between" *ngIf="partenariado.estado == 'En negociación'">
                <h6 class="title mb-0"><b>Escribir Mensaje</b></h6>
            </header>

            <header class="card-header mb-2 border d-flex justify-content-between" *ngIf="partenariado.estado != 'En negociación'">
                <h6 class="title mb-0"><b>El partenariado ya no está en negociación y no se pueden escribir mensajes </b></h6>
            </header>

            <div class="card my-2 p-3" *ngIf="partenariado.estado == 'En negociación'">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="mensaje">Mensaje</label>
                        <textarea id="mensaje" name="mensaje" class="form-control" placeholder="Escribe un mensaje" rows="3" [(ngModel)]="mensaje"></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <input type="submit" class="btn btn-success float-right" [value]="'Enviar mensaje'" [disabled]="this.mensaje == ''" (click)="enviarMensaje()">
                </div>
            </div>

            <header class="card-header mb-2 border d-flex justify-content-between">
                <h6 class="title mb-0"><b>Histórico de mensajes del partenariado</b></h6>
            </header>


            <div class="card my-2 p-3" *ngIf="!numeroMensajes()">
                Aún no hay ningún mensaje...
            </div>

            <div class="card my-2 p-3" *ngFor="let mensaje of partenariado.mensajes">
                <div class="d-flex justify-content-between">
                    <div><b>Autor:</b> {{ mensaje.nombre }} {{ mensaje.apellidos }} <{{ mensaje.email }}> [{{ mensaje.rol}}]</div>
                    <div><b>Fecha:</b> {{ parseFecha(mensaje.fecha) }}</div>
                </div>
                <hr />
                <p>{{ mensaje.texto }}</p>
            </div>

        </div>

        <div class="col-3">

            <div class="card">

                <div class="filtro">
                    <header class="card-header border">
                        <h6 class="title mb-0">Estado </h6>
                    </header>

                    <div class="card-body">
                        <div>
                            <div class="text-center font-weight-bold mb-4">{{partenariado.estado}}</div>
                            <button *ngIf="!partenariado.proyecto && partenariado.estado == 'En negociación' && this.usuarioService.usuario && (this.usuarioService.usuario.esProfesor || this.usuarioService.usuario.esGestor)" class="btn btn-warning border-white btn-sm w-100 font-weight-bold mb-2" (click)="cambiarEstado('Acordado')" role="button">CONVERTIR EN PROYECTO</button>
                            <p *ngIf="!partenariado.proyecto && partenariado.estado == 'En negociación' && this.usuarioService.usuario && (this.usuarioService.usuario.esProfesor || this.usuarioService.usuario.esGestor)">Si pulsas convertir en proyecto, se creará un proyecto y se dará este partenariado por Acordado.</p>

                        </div>

                    </div>
                </div>

                <div class="filtro" *ngIf="this.usuarioService.usuario && (this.usuarioService.usuario.esProfesor || this.usuarioService.usuario.esGestor) && partenariado.estado == 'En negociación'">
                    <header class="card-header border-top rounded-0">
                        <h6 class="title mb-0">Cancelar Partenariado </h6>
                    </header>

                    <div class="card-body">
                        <div>
                            <button *ngIf="this.usuarioService.usuario && (this.usuarioService.usuario.esProfesor || this.usuarioService.usuario.esGestor) && partenariado.estado == 'En negociación'" class="btn btn-danger border-white btn-sm w-100 font-weight-bold mb-2" (click)="cambiarEstado('Sin respuesta')" role="button">Cerrar - Sin respuesta</button>
                            <button *ngIf="this.usuarioService.usuario && (this.usuarioService.usuario.esProfesor || this.usuarioService.usuario.esGestor) && partenariado.estado == 'En negociación'" class="btn btn-danger border-white btn-sm w-100 font-weight-bold mb-2" (click)="cambiarEstado('Suspendido')" role="button">Cerrar - Suspendido</button>

                            <button *ngIf="this.usuarioService.usuario && this.usuarioService.usuario.esGestor && partenariado.estado != 'En negociación'" class="btn btn-success border-white btn-sm w-100 font-weight-bold mb-2" (click)="cambiarEstado('En negociación')" role="button">Reabrir Partenariado</button>
                        </div>

                    </div>
                </div>

                <div class="filtro" *ngIf="this.usuarioService.usuario && this.usuarioService.usuario.esGestor && partenariado.estado != 'En negociación'">
                    <header class="card-header border-top rounded-0">
                        <h6 class="title mb-0">Reabrir Partenariado </h6>
                    </header>

                    <div class="card-body">
                        <div>
                            <button class="btn btn-success border-white btn-sm w-100 font-weight-bold mb-2" (click)="cambiarEstado('En negociación')" role="button">Reabrir Partenariado</button>
                        </div>

                    </div>
                </div>

                <div class="filtro">
                    <header class="card-header border-top rounded-0">
                        <h6 class="title mb-0">Archivos de interés </h6>
                    </header>

                    <div class="card-body">
                        <p *ngIf="partenariado.archivos.length === 0">No se ha subido ningún archivo para este partenariado</p>
                        <ul *ngIf="partenariado.archivos.length > 0" class="list-group">
                            <li *ngFor="let archivo of partenariado.archivos" class="list-group-item">
                                <a href="{{ archivo.url }}" target="_blank">{{ archivo.client_name }}</a>
                                <span class="remove-image-btn float-right" aria-label="Borrar Fichero" (click)="borrarFichero(archivo._id)" *ngIf="this.usuarioService.usuario.esGestor">(x)</span>
                            </li>
                        </ul>



                        <div class="row">
                            <div class="col-12 justify-content-between">
                                <div class="form-group">
                                    <label for="file-upload-2" class="custom-file-upload">
                                        <i class="fa fa-cloud-upload"></i> Subir Fichero (solo pdf)
                                    </label>
                                    <input id="file-upload-2" type="file" (change)="subirFichero($event.target.files[0])"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="filtro">
                    <header class="card-header border-top rounded-0">
                        <h6 class="title mb-0">Partenariado y Proyecto </h6>
                    </header>

                    <div class="card-body">

                        <ul class="list-group">
                            <li class="list-group-item"><a [routerLink]="['/iniciativas/ver/', partenariado.iniciativa]">Ver Iniciativa Origen</a></li>
                        </ul>

                        <ul class="list-group">
                            <li *ngIf="partenariado.proyecto" class="list-group-item"><a [routerLink]="['/proyectos/ver/', partenariado.proyecto]">Ver Proyecto Destino</a></li>
                            <li *ngIf="!partenariado.proyecto" class="list-group-item">El profesor aún no ha dado por acordado este partenariado y por lo tanto no se ha generado ningún proyecto.</li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>




    </div>

</div>
<app-footer></app-footer>
