<app-navbar></app-navbar>
<div class='container mt-4 animate__animated animate__fadeIn animate__faster'>
    <h5 class='px-4 py-2 mb-4 text-white display-block bg-secondary d-flex justify-content-between align-items-center'>
        <strong *ngIf='this.Demanda_id'>Actualizar Demanda</strong>
        <strong *ngIf='!this.Demanda_id'>Crear Demanda</strong>
    </h5>

    <main class='container'>
        <section role='main'>

            <div class='row d-flex'>
                <form
                    (ngSubmit)='create()'
                    [formGroup]='createDemandForm'
                    autocomplete='off'
                    class='col-12'
                    id='form-demanda'
                    role='form'>

                    <div class='card my-2 mr-2 p-4'>

                        <h2>
                            <strong>Demanda de Servicio</strong>
                        </h2>

                        <div class='panel-body'>

                            <p>En esta página puedes crear una demanda de servicio para que los profesores puedan estudiarla y decidir si participar en ella.</p>

                            <fieldset class='p-4 mb-2'>
                                <legend class='mb-0 px-2'><strong>Informacion de la demanda</strong></legend>

                                <div class='form-group'>
                                    <label>Introduzca el título *</label>
                                    <input autocapitalize='none' autocorrect='off' class='form-control' formControlName='titulo' id='titulo' name='titulo' placeholder='Introduzca el Titulo de la demanda' spellcheck='false' type='text'>
                                </div>

                                <div class='form-group'>
                                    <label for='descripcion'>Descripcion de la demanda *</label>
                                    <textarea class='form-control' formControlName='descripcion' id='demanda' name='descripcion' placeholder='Escribe una descripción sobre la demanda' rows='8'></textarea></div>
                                <!-- <div class="d-flex">
                                    <div class="form-group flex-fill mr-2">
                                        <label for="portada">Imagen inicial de la demanda</label>
                                        <input name="portada" type="file"  id="portada" class="form-control" placeholder="Seleccione la imagen a subir" formControlName="portada" (input)="subirFichero($event.target.files[0])">
                                    </div>
                                </div> -->

                                <div class='form-group'>
                                    <label for='area_servicio'>Area de implementación *</label>
                                    <ng-multiselect-dropdown
                                        [data]='areaServicio'
                                        [placeholder]="'Selecciona el area de servicio'"
                                        [settings]='dropdownSettings'
                                        formControlName='area_servicio'
                                        name='area_servicio'
                                    >
                                        <ng-template
                                            #optionsTemplate
                                            let-id='id'
                                            let-isSelected='isSelected'
                                            let-item
                                            let-option='option'>
                                            <div
                                                style='
                                                padding: 1px 10px;
                                                margin: 40px;
                                                right: 2px;
                                                top: -2px;'>
                                                <label
                                                    [ngStyle]="{ 'font-weight': isSelected? 'bold':' normal','color': getAreas[id].isDisabled? 'lightgrey': ''}"
                                                    style='color: #333; min-width: 130px; font-weight: normal;'
                                                >{{getAreas[id].nombre}}</label>
                                            </div>
                                        </ng-template>
                                        <ng-template #optionSelectedTemplate let-id='id' let-option='option'>
                                            <div>
                                                {{option}}
                                            </div>
                                        </ng-template>
                                    </ng-multiselect-dropdown>
                                </div>

                                <div class='form-group flex-fill ml-2'>
                                    <label for='ciudad'>Localización/es donde se va/n a realizar el servicio; si va a ser de manera remota, escriba online</label>
                                    <input autocapitalize='none' autocorrect='off' class='form-control' formControlName='ciudad' id='ciudad' name='ciudad' placeholder='Introduzca la ciudad' spellcheck='false' type='text'>
                                </div>

                                <div class='form-group flex-fill ml-2'>
                                    <label for='objetivo'>Objetivo que va a cumplir la demanda *</label>
                                    <input [class.is-invalid]="createDemandForm.get('objetivo').invalid && createDemandForm.get('objetivo').touched" autocapitalize='none' autocorrect='off' class='form-control' formControlName='objetivo' id='objetivo' name='objetivo' placeholder='Introduzca el objetivo' spellcheck='false' type='text'>

                                </div>

                                <div class='form-group flex-fill ml-2'>
                                    <label for='fechaDefinicionIni'>Comienzo del periodo de disponibilidad para trabajar en la definición
                                        de un proyecto ApS</label>
                                    <input class='form-control' formControlName='fechaDefinicionIni' id='fechaDefinicionIni' name='fechaDefinicionIni' type='date'>

                                </div>

                                <div class='form-group flex-fill ml-2'>
                                    <label for='fechaDefinicionFin'>Fin del periodo de disponibilidad para trabajar en la definición de un
                                        proyecto ApS</label>
                                    <input class='form-control' formControlName='fechaDefinicionFin' id='fechaDefinicionFin' name='fechaDefinicionFin' type='date'>

                                </div>

                                <div class='form-group flex-fill ml-2'>
                                    <label for='fechaEjecucionIni'>Comienzo del periodo de disponibilidad para trabajar en la realización
                                        del proyecto ApS</label>
                                    <input class='form-control' formControlName='fechaEjecucionIni' id='fechaEjecucionIni' name='fechaEjecucionIni' type='date'>

                                </div>

                                <div class='form-group flex-fill ml-2'>
                                    <label for='fechaEjecucionFin'>Fin del periodo de disponibilidad para trabajar en la realización
                                        del proyecto ApS</label>
                                    <input class='form-control' formControlName='fechaEjecucionFin' id='fechaEjecucionFin' name='fechaEjecucionFin' type='date'>

                                </div>

                                <div class='form-group flex-fill ml-2'>
                                    <label for='fechaFin'>Fecha límite para el fin de la realización del proyecto ApS</label>
                                    <input class='form-control' formControlName='fechaFin' id='fechaFin' name='fechaFin' type='date'>

                                </div>

                                <div class='form-group flex-fill ml-2'>
                                    <label for='observacionTemporal'>Si tiene algún requisito especial en cuanto a las fechas, escríbala aquí</label>
                                    <input autocapitalize='none' autocorrect='off' class='form-control' formControlName='observaciones' id='observacionTemporal' name='observacionTemporal' placeholder='Introduzca la observacion' spellcheck='false' type='text'>
                                </div>
                                <div class='form-group'>
                                    <label for='necesidad_social'>Necesidad social a cumplir con esta demanda *</label>
                                    <input [class.is-invalid]="createDemandForm.get('necesidad_social').invalid && createDemandForm.get('necesidad_social').touched" class='form-control' formControlName='necesidad_social' id='necesidad_social' list='necesidades' name='necesidad_social' placeholder='Introduzca la necesidad social' type='text'>
                                    <datalist id='necesidades'>
                                        <option *ngFor='let n of necesidadSocial' [value]='n.nombre'></option>
                                    </datalist>
                                    <!-- <small class="text-danger" *ngIf="noNecesidadMatch()">Debe elegir una necesidad social valida</small> -->
                                </div>

                                <div class='form-group flex-fill ml-2'>
                                    <label for='comunidadBeneficiaria'>Comunidad Beneficiaria de esta demanda *</label>
                                    <input [class.is-invalid]="createDemandForm.get('comunidadBeneficiaria').invalid && createDemandForm.get('comunidadBeneficiaria').touched" autocapitalize='none' autocorrect='off' class='form-control' formControlName='comunidadBeneficiaria' id='comunidadBeneficiaria' name='comunidadBeneficiaria' placeholder='Introduzca la comunidad beneficiaria' spellcheck='false' type='text'>

                                </div>

                                <div class='form-group'>
                                    <label for='area_servicio'>Si tiene una idea de una titulación o unas titulaciones en las que
                                        podría cuadrar el proyecto, escríbalas</label>
                                    <ng-multiselect-dropdown
                                        [data]='titulacionLocal'
                                        [placeholder]="'Introduzca la(s) titulación(es)'"
                                        [settings]='dropdownSettings'
                                        formControlName='titulacion_local'
                                        name='area_servicio'
                                    >
                                        <ng-template
                                            #optionsTemplate
                                            let-id='id'
                                            let-isSelected='isSelected'
                                            let-item
                                            let-option='option'>
                                            <div
                                                style='
                                                    padding: 1px 10px;
                                                    margin: 40px;
                                                    right: 2px;
                                                    top: -2px;'>
                                                <label
                                                    [ngStyle]="{ 'font-weight': isSelected? 'bold':' normal','color': getTitulaciones[id].isDisabled? 'lightgrey': ''}"
                                                    style='color: #333; min-width: 130px; font-weight: normal;'
                                                >{{getTitulaciones[id].nombre}}</label>
                                            </div>
                                        </ng-template>
                                        <ng-template #optionSelectedTemplate let-id='id' let-option='option'>
                                            <div>
                                                {{option}}
                                            </div>
                                        </ng-template>
                                    </ng-multiselect-dropdown>
                                </div>

                                <!-- <div class="form-group">
                                    <label for="titulacionLocal">Titulacion local relacionada con la demanda</label>
                                    <input name="titulacion_local" type="text" id="titulacion_local"  list="titulaciones"  formControlName="titulacion_local"  class="form-control" [class.is-invalid] = "createDemandForm.get('titulacion_local').invalid && createDemandForm.get('titulacion_local').touched" placeholder="Introduzca la titulacion local">
                                    <datalist id="titulaciones">
                                    <option *ngFor="let t of titulacionLocal" [value]="t.nombre" ></option>
                                    </datalist>
                                    <small class="text-danger" *ngIf="noTitulacionMatch()">Debe elegir una titulacion valida</small>
                                </div> -->
                                <div *ngIf='this.usuarioService.usuario.esGestor && USUARIOS' class='row'>
                                    <div class='col'>
                                        <div class='form-group'>
                                            <label for='creador'>creador (solo modificable por el gestor del portal)</label>
                                            <select class='form-control' formControlName='creador' id='creador' name='area'>
                                                <option value=''>Elije un usuario que se haga cargo de la demanda</option>
                                                <option *ngFor='let USUARIO of USUARIOS' [selected]='this.Demanda.creador == USUARIO.uid' value='{{ USUARIO.uid }}'>{{ USUARIO.email }} - {{ USUARIO.displayRol }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </fieldset>
                            <label style='color:green; margin-top:0.5cm;'>Los campos obligatorios tienen asterisco.</label>
                            <div class='d-flex'>
                                <div *ngIf='this.createDemandForm.invalid && this.formSubmitted' class='flex-fill alert alert-danger mr-3' role='alert'>
                                    <div *ngIf="campoNoValido('titulo')" class='col'>{{ campoNoValido('titulo') }}</div>
                                    <div *ngIf="campoNoValido('descripcion')" class='col'>{{ campoNoValido('descripcion') }}</div>
                                    <div *ngIf="campoNoValido('area_servicio')" class='col'>{{ campoNoValido('area_servicio') }}</div>
                                    <div *ngIf="campoNoValido('ciudad')" class='col'>{{ campoNoValido('ciudad') }}</div>
                                    <div *ngIf="campoNoValido('objetivo')" class='col'>{{ campoNoValido('objetivo') }}</div>
                                    <div *ngIf="campoNoValido('fechaDefinicionIni')" class='col'>{{ campoNoValido('fechaDefinicionIni') }}</div>
                                    <div *ngIf="campoNoValido('fechaDefinicionFin')" class='col'>{{ campoNoValido('fechaDefinicionFin') }}</div>
                                    <div *ngIf="campoNoValido('fechaEjecucionIni')" class='col'>{{ campoNoValido('fechaEjecucionIni') }}</div>
                                    <div *ngIf="campoNoValido('fechaEjecucionFin')" class='col'>{{ campoNoValido('fechaEjecucionFin') }}</div>
                                    <div *ngIf="campoNoValido('fechaFin')" class='col'>{{ campoNoValido('fechaFin') }}</div>
                                    <div *ngIf="campoNoValido('necesidadSocial')" class='col'>{{ campoNoValido('necesidadSocial') }}</div>
                                    <div *ngIf="campoNoValido('comunidadBenficiaria')" class='col'>{{ campoNoValido('comunidadBeneficiaria') }}</div>
                                    <div *ngIf="campoNoValido('titulacionLocal')" class='col'>{{ campoNoValido('titulacionLocal') }}</div>
                                </div>

                                <div class='mr-auto mb-2'>
                                    <input *ngIf='!this.Demanda_id' [disabled]='this.formSending || (this.formSubmitted && this.createDemandForm.invalid)' [value]="this.formSending ? 'Creando...' : 'Crear demanda'" class='btn btn-default btn-secondary m-4' type='submit'>
                                    <input *ngIf='this.Demanda_id' [disabled]='this.formSending || (this.formSubmitted && this.createDemandForm.invalid)' [value]="this.formSending ? 'Actualizando...' : 'Actualizar demanda'" class='btn btn-default btn-secondary m-4' type='submit'>
                                    <label *ngIf='createDemandForm.errors'>{{ createDemandForm.errors?.dates | json }}</label>
                                </div>
                                <div class='mb-2'>
                                    <a [routerLink]="['/demandas']" class='btn btn-default btn-secondary m-4' role="button">Volver</a>
                                </div>
                            </div>

                        </div>

                    </div>
                </form>
            </div>
        </section>
    </main>
</div>
