<div class="card mb-3 h-100">
    <div class="card-body">
        <h5 class="card-title">{{ partenariado.titulo | slice: 0:100 }} ({{ partenariado.estado}})</h5>
        <p class="card-text">{{ partenariado.descripcion | slice: 0:100 }}...</p> 
    </div> 

    <div class="card-footer">
        <fa-icon
            [icon]="['fas', 'eye']"
            [routerLink]="['/partenariados/ver/', partenariado._id]"
            class="text-primary cursor-pointer"
            title="Ver oferta"
        ></fa-icon>
        <fa-icon
            *ngIf="usuarioService.usuario?.esGestor"
            [icon]="['fas', 'edit']"
            [routerLink]="['/partenariados/editar', partenariado._id]"
            class="text-primary cursor-pointer"
            title="Editar oferta"
        ></fa-icon>
    </div>  
</div>