<h5>Proyectos</h5>
<div class="row">
    <app-proyectos-card class="col-sm-6 col-lg-4 mb-3" ></app-proyectos-card>  
    <app-proyectos-card class="col-sm-6 col-lg-4 mb-3" ></app-proyectos-card>  
    <app-proyectos-card class="col-sm-6 col-lg-4 mb-3" ></app-proyectos-card>  
</div> 

<hr class="mt-4">
<h5>Ofertas de servicios ApS desde la universidad</h5>
<div class="row">
    <app-proyectos-card class="col-sm-6 col-lg-4 mb-3" ></app-proyectos-card>  
    <app-proyectos-card class="col-sm-6 col-lg-4 mb-3" ></app-proyectos-card>  
    <app-proyectos-card class="col-sm-6 col-lg-4 mb-3" ></app-proyectos-card>  
</div>  

<hr class="mt-4">
<h5>Ofertas ApS presentadas por Socios comunitarios</h5>
<div class="row">
    <app-proyectos-card class="col-sm-6 col-lg-4 mb-3" ></app-proyectos-card>  
    <app-proyectos-card class="col-sm-6 col-lg-4 mb-3" ></app-proyectos-card>  
    <app-proyectos-card class="col-sm-6 col-lg-4 mb-3" ></app-proyectos-card>  
</div>  

<hr class="mt-4">
<h5>Sugerencias ApS de Estudiantes</h5>
<div class="row">
    <app-proyectos-card class="col-sm-6 col-lg-4 mb-3" ></app-proyectos-card>  
    <app-proyectos-card class="col-sm-6 col-lg-4 mb-3" ></app-proyectos-card>  
    <app-proyectos-card class="col-sm-6 col-lg-4 mb-3" ></app-proyectos-card>  
</div>  

<hr class="mt-4">
<h5>Resumen del partenariado</h5>
<div class="row">
    <app-proyectos-card class="col-sm-6 col-lg-4 mb-3" ></app-proyectos-card>  
    <app-proyectos-card class="col-sm-6 col-lg-4 mb-3" ></app-proyectos-card>  
    <app-proyectos-card class="col-sm-6 col-lg-4 mb-3" ></app-proyectos-card>  
</div>  

<hr class="mt-4">
<h5>FAQ</h5> 
<app-faq></app-faq>