<app-navbar></app-navbar>
<div class='container mt-4 animate__animated animate__fadeIn animate__faster'>
    <h5 class='px-4 py-2 mb-4 text-white display-block bg-secondary d-flex justify-content-between align-items-center'>
        <strong>Ver Demanda</strong>
    </h5>

    <!-- Alertas según el rol del usuario -->
    <div *ngIf='!this.usuarioService.usuario' class='alert alert-warning' role='alert'>
        <strong>Atención: </strong> Estás en la aplicación como <strong>INVITADO</strong>. Sólo Profesores pueden presentar OFERTAS.
    </div>
    <!--<div *ngIf='this.usuarioService.usuario && this.usuarioService.usuario.esProfesor ' class='alert alert-warning' role='alert'>
        <strong>Atención: </strong> Estás en la aplicación como <strong>PROFESOR</strong>, pero esta oferta ha sido presentada por otro profesor.
    </div>-->
    <div *ngIf='this.usuarioService.usuario && this.usuarioService.usuario.esEstudiante ' class='alert alert-warning' role='alert'>
        <strong>Atención: </strong> Estás en la aplicación como <strong>ESTUDIANTE</strong>. Sólo Profesores pueden presentar OFERTAS.
    </div>
    <div *ngIf='this.usuarioService.usuario && this.usuarioService.usuario.esSocioComunitario ' class='alert alert-warning' role='alert'>
        <strong>Atención: </strong> Estás en la aplicación como <strong>ENTIDAD</strong>. Sólo Profesores pueden presentar OFERTAS.
    </div>

    <div
        *ngIf='!demanda'
        class='mb-0 alert alert-info text-center animate__animated animate__fadeIn animate__fast'
        role='alert'
    >
        <h4>Cargando demanda...</h4>
        <fa-icon [icon]="['fas', 'sync']" [spin]='true'></fa-icon>
        <p class='mb-'>Por favor, espere</p>
    </div>

    <div *ngIf='demanda' class='row'>
        <div class='col-12'>
            <header class='card-header mb-2 border d-flex justify-content-between align-items-center'>
                <h6 class='title mb-0'>
                    <strong>Demanda: {{ demanda.titulo }}</strong>
                </h6>
            </header>

            <div class='card my-2 p-3'>
                <div class='d-flex justify-content-between'>
                    <div><strong>Objetivo:</strong> {{ demanda.objetivo }}</div>
                    <div>
                        <strong>Comunidad beneficiaria:</strong>
                        {{ demanda.comunidadBeneficiaria }}
                    </div>
                </div>
                <hr />

                <p><strong>Descripción:</strong> {{ demanda.descripcion }}</p>

                <p>
                    <strong>Fecha inicio demanda (definición):</strong>
                    {{ demanda.periodoDefinicionIni | date: "dd-MM-yyyy" }}
                </p>
                <p>
                    <strong>Fecha fin demanda (definición):</strong>
                    {{ demanda.periodoDefinicionFin | date: "dd-MM-yyyy" }}
                </p>
                <p>
                    <strong>Fecha inicio demanda (ejecución):</strong>
                    {{ demanda.periodoEjecucionIni | date: "dd-MM-yyyy" }}
                </p>
                <p>
                    <strong>Fecha límite (ejecución):</strong>
                    {{ demanda.fechaFin | date: "dd-MM-yyyy" }}
                </p>
                <p><strong>¿Quién es el responsable de la demanda?:</strong></p>
                <ul>
                    <li>
                        <strong><em>Nombre y Apellidos: </em></strong
                        >{{ demanda.creador.nombre }} {{demanda.creador.apellidos}}
                    </li>
                </ul>
                <p>
                    <strong>Necesidad Social: </strong
                    >{{ demanda.necesidad_social || "" }}
                </p>
                <p>
                    <strong>Observaciones: </strong
                    >{{ demanda.observacionesTemporales || "Sin observaciones" }}
                </p>
                <strong><em>Area servicio: </em></strong>
                <ul>
                    <li *ngFor="let are of area">
                        {{ are }}
                    </li>
                </ul>
                <strong><em>Titulaciones necesarias: </em></strong>
                <ul>
                    <li *ngFor="let t of demanda.titulacion_local">
                        {{ t }}
                    </li>
                </ul>
                <p class='mt-3'><strong>Imagen de la oferta:</strong></p>
                <img [src]='demanda.imagen' alt='oferta-imagen' class='img-fluid' />

                <br>

                <div style='display: flex; justify-content: space-evenly'>
                    <button [routerLink]="['/demandas']" class='btn btn-info' style='width: 200px' type='button'>Volver
                        al listado
                    </button>
                    <button *ngIf="!(this.usuarioService.usuario && this.usuarioService.usuario.esSocioComunitario)" (click)='crearPartenariado()' class='btn btn-info' style='width: 200px' type='button'>Crear partenariado</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
