<app-navbar></app-navbar>
<div class="container mt-4 animate__animated animate__fadeIn animate__faster">
    <h5 class="px-4 py-2 my-4 text-white display-block bg-secondary"><strong>Cómo participar - Estudiantes</strong></h5>

    <p><strong>El ALUMNO</strong> es un estudiante que desea PARTICIPAR EN UN PROYECTO ApS para realizarlo bajo la tutorización del PROFESOR. Puede ser de la UNED o EXTERNO.</p>
    <p>Así pues, el ALUMNO puede buscar entre todos los PROYECTOS ApS disponibles y solicitar acceso a alguno en el que quiera participar. Debe esperar a que el PROFESOR dé su visto bueno, por lo que es conveniente contactar previamente con el PROFESOR.</p>
    <p>Adicionalmente, el ALUMNO puede SUGERIR una OFERTA a través del formulario de CONTACTO. Un GESTOR evaluará dicha sugerencia, y la reenviará al PROFESOR o SOCIO COMUNITARIO que considere oportuno, o bien la descartará si cree que no tiene encaje como PROYECTO ApS.</p>

    <hr class="mb-4"/>
</div>
<app-footer></app-footer>
