<app-navbar></app-navbar>
<div class="container mt-4 animate__animated animate__fadeIn animate__faster">
    <h1>Condiciones de uso</h1>
    <hr>
        <h2 class="px-4 py-2 mb-4 text-white display-block bg-secondary">Uso del Portal ApS</h2>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores quos itaque deleniti veritatis, dolore sequi iste rem minus optio sapiente ipsa magni minima hic fugit dolor distinctio. Quae, laborum esse</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores quos itaque deleniti veritatis, dolore sequi iste rem minus optio sapiente ipsa magni minima hic fugit dolor distinctio. Quae, laborum esse</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores quos itaque deleniti veritatis, dolore sequi iste rem minus optio sapiente ipsa magni minima hic fugit dolor distinctio. Quae, laborum esse</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores quos itaque deleniti veritatis, dolore sequi iste rem minus optio sapiente ipsa magni minima hic fugit dolor distinctio. Quae, laborum esse</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores quos itaque deleniti veritatis, dolore sequi iste rem minus optio sapiente ipsa magni minima hic fugit dolor distinctio. Quae, laborum esse</p>
</div>
<app-footer></app-footer>