<app-navbar></app-navbar>
<div class='container mt-4 animate__animated animate__fadeIn animate__faster'>
    <h5
        class='
            px-4
            py-2
            mb-4
            text-white
            display-block
            bg-secondary
            d-flex
            justify-content-between
            align-items-center
        '
    >
        <strong>Crear Partenariado - Borrador</strong>
    </h5>
    <main class='container'>
        <section role='main'>

            <form id='form-partenariado' role='form' autocomplete='off' *ngIf='crearPartenariadoProfesorForm'
                  [formGroup]='crearPartenariadoProfesorForm' (ngSubmit)='enviarPartenariado()'>

                <div class='card my-2 mr-2 p-4'>

                    <div class='panel-body'>

                        <fieldset class='p-4 mb-2'>
                            <legend class='mb-0 px-2'><strong>Información general</strong></legend>
                            <div>
                                <div class='form-group flex-fill ml-2'>
                                    <label>Título</label>
                                    <input name='titulo' type='text' id='titulo' class='form-control' autocorrect='off'
                                           autocapitalize='none' spellcheck='false'
                                           placeholder='Título corto y descriptivo' formControlName='titulo'>
                                </div>

                                <div class='form-group flex-fill ml-2'>
                                    <label for='descripcion'>Descripción</label>
                                    <textarea id='descripcion' name='descripcion' class='form-control'
                                              placeholder='Descripción del partenariado' rows='8'
                                              formControlName='descripcion'></textarea>
                                </div>

                                <div class='form-group flex-fill ml-2'>
                                    <label for='externos'>Externo</label>
                                    <input type='checkbox' class='form-group' id='externos' formControlName='externos'>
                                </div>
                            </div>

                        </fieldset>

                        <fieldset class='p-4 mb-2'>
                            <legend class='mb-0 px-2'><strong>Información demanda</strong></legend>

                            <div>
                                <div class='row'>
                                    <div class='col'>
                                        <div class='form-group'>
                                            <label for='socio'>Socio comunitario</label>
                                            <input type='text' class='form-control' id='socio'
                                                   formControlName='socio' readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class='row'>
                                    <div class='col'>
                                        <div class='form-group'>
                                            <label for='demandaObservacionesTemporales'>Requisito especial en cuanto a las fechas de la demanda.</label>
                                            <input type='text' class='form-control' id='demandaObservacionesTemporales'
                                                   formControlName='demandaObservacionesTemporales' readonly>
                                        </div>
                                    </div>
                                </div>


                                <div class='row'>
                                    <div class='col'>
                                        <div class='form-group'>
                                            <input type='text' class='form-control' id='id_demanda'
                                                   formControlName='id_demanda' hidden>
                                        </div>
                                    </div>
                                </div>

                                <div class='row'>
                                    <div class='col'>
                                        <div class='form-group'>
                                            <label for='ciudad'>Localización/es donde se va/n a realizar el servicio</label>
                                            <input name='ciudad' type='text' id='ciudad' class='form-control'
                                                   autocorrect='off' autocapitalize='none' spellcheck='false'
                                                   formControlName='ciudad' readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class='row'>
                                    <div class='col'>
                                        <div class='form-group'>
                                            <label for='necesidadSocial'>Necesidad social</label>
                                            <input name='necesidadSocial' type='text' id='necesidadSocial' readonly
                                                   class='form-control' autocorrect='off' autocapitalize='none'
                                                   spellcheck='false' formControlName='necesidadSocial'>
                                        </div>
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='col'>
                                        <div class='form-group'>
                                            <label for='finalidad'>Objetivo que va a cumplir la demanda</label>
                                            <input name='finalidad' type='text' id='finalidad' readonly
                                                   class='form-control' autocorrect='off' autocapitalize='none'
                                                   spellcheck='false' formControlName='finalidad'>
                                        </div>
                                    </div>
                                </div>

                                <div class='row'>
                                    <div class='col'>
                                        <div class='form-group'>
                                            <label for='comunidadBeneficiaria'>Comunidad beneficiaria</label>
                                            <input name='comunidadBeneficiaria' type='text' readonly
                                                   id='comunidadBeneficiaria' class='form-control' autocorrect='off'
                                                   autocapitalize='none' spellcheck='false'
                                                   formControlName='comunidadBeneficiaria'>
                                        </div>
                                    </div>
                                </div>

                                <div class='row'>
                                    <div class='col'>
                                        <div class='form-group'>
                                            <label for='demandaAreaServicio'>Area de implementación</label>
                                            <input name='demandaAreaServicio' readonly type='text'
                                                   id='demandaAreaServicio' class='form-control' autocorrect='off'
                                                   autocapitalize='none' spellcheck='false'
                                                   formControlName='demandaAreaServicio'>
                                        </div>
                                    </div>
                                </div>

                                <div class='row'>
                                    <div class='col'>
                                        <div class='form-group'>
                                            <label for='titulacionesLocales'>Titulaciones locales</label>
                                            <input name='titulacionesLocales' readonly type='text'
                                                   id='titulacionesLocales' class='form-control' autocorrect='off'
                                                   autocapitalize='none' spellcheck='false'
                                                   formControlName='titulacionesLocales'>
                                        </div>
                                    </div>
                                </div>


                                <div class='row'>
                                    <div class='col'>
                                        <div class='form-group'>
                                            <label for='periodo_definicion_ini'>Comienzo del periodo de disponibilidad para trabajar en la definición
                                                de un proyecto ApS</label>
                                            <input name='periodo_definicion_ini' type='date' readonly
                                                   id='periodo_definicion_ini' class='form-control' autocorrect='off'
                                                   autocapitalize='none' spellcheck='false'
                                                   formControlName='periodo_definicion_ini'>
                                        </div>
                                    </div>
                                </div>

                                <div class='row'>
                                    <div class='col'>
                                        <div class='form-group'>
                                            <label for='periodo_definicion_fin'>Fin del periodo de disponibilidad para trabajar en la definición
                                                de un proyecto ApS</label>
                                            <input name='periodo_definicion_fin' type='date' readonly
                                                   id='periodo_definicion_fin' class='form-control' autocorrect='off'
                                                   autocapitalize='none' spellcheck='false'
                                                   formControlName='periodo_definicion_fin'>
                                        </div>
                                    </div>
                                </div>

                                <div class='row'>
                                    <div class='col'>
                                        <div class='form-group'>
                                            <label for='periodo_ejecucion_ini'>Comienzo del periodo de disponibilidad para trabajar en la realización
                                                de un proyecto ApS</label>
                                            <input name='periodo_ejecucion_ini' type='date' readonly
                                                   id='periodo_ejecucion_ini' class='form-control' autocorrect='off'
                                                   autocapitalize='none' spellcheck='false'
                                                   formControlName='periodo_ejecucion_ini'>
                                        </div>
                                    </div>
                                </div>

                                <div class='row'>
                                    <div class='col'>
                                        <div class='form-group'>
                                            <label for='periodo_ejecucion_fin'>Fin del periodo de disponibilidad para trabajar en la realización
                                                de un proyecto ApS</label>
                                            <input name='periodo_ejecucion_fin' type='date' readonly
                                                   id='periodo_ejecucion_fin' class='form-control' autocorrect='off'
                                                   autocapitalize='none' spellcheck='false'
                                                   formControlName='periodo_ejecucion_fin'>
                                        </div>
                                    </div>
                                </div>


                                <div class='row'>
                                    <div class='col'>
                                        <div class='form-group'>
                                            <label for='fecha_fin'>Fecha límite para el fin de la realización del proyecto ApS</label>
                                            <input name='fecha_fin' type='date' readonly id='fecha_fin'
                                                   class='form-control' autocorrect='off' autocapitalize='none'
                                                   spellcheck='false' formControlName='fecha_fin'>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </fieldset>

                        <fieldset class='p-4 mb-2'>
                            <legend class='mb-0 px-2'><strong>Información oferta</strong></legend>
                            <div>
                                <div class='form-group'>
                                    <label for='responsable'>Responsable del partenariado</label>
                                    <input name='responsable' type='text' id='responsable' list='selProfesores' formControlName='responsable' class='form-control' [class.is-invalid]="crearPartenariadoProfesorForm.get('responsable').invalid && crearPartenariadoProfesorForm.get('responsable').touched" placeholder='Elija un responsable'>
                                    <datalist id='selProfesores'>
                                        <option *ngFor='let c of selProfesores' [value]='c.nombreCompleto'></option>
                                    </datalist>
                                </div>

                                <div class='row'>
                                    <div class='col'>
                                        <div class='form-group'>
                                            <input type='text' class='form-control' id='id_oferta' formControlName='id_oferta' hidden>
                                        </div>
                                    </div>
                                </div>

                                <div class='row'>
                                    <div class='col'>
                                        <div class='form-group'>
                                            <label for='ofertaObservacionesTemporales'>Si tiene algún requisito especial en cuanto a las fechas de la oferta, escríbala aquí</label>
                                            <input type='text' class='form-control' id='ofertaObservacionesTemporales'
                                                   formControlName='ofertaObservacionesTemporales' readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class='row'>
                                    <div class='col'>
                                        <div class='form-group'>
                                            <label for='fecha_limite'>Fecha límite para terminar la definición del proyecto</label>
                                            <input type='text' class='form-control' id='fecha_limite'
                                                   formControlName='fecha_limite' readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class='form-group'>
                                    <label for='profesores'>Equipo de profesores</label>
                                    <ng-multiselect-dropdown name='profesores' [settings]='dropdownSettings'
                                                             [placeholder]="'Selecciona los profesores del equipo'" [data]='profesoresList'
                                                             [(ngModel)]='selProfesores' formControlName='profesores'>
                                        <ng-template #optionsTemplate let-item let-option='option' let-id='id'
                                                     let-isSelected='isSelected'>
                                            <div style='
                                            padding: 1px 10px;
                                            margin-right: 10px;
                                            right: 2px;
                                            top: -2px;
                                        '>
                                                <label style='color: #333; min-width: 130px; font-weight: normal;'
                                                       [ngStyle]="{ 'font-weight': isSelected? 'bold':' normal','color': getItems[id].isDisabled? 'lightgrey': ''}">{{getItems[id].nombreCompleto}}</label>
                                            </div>
                                        </ng-template>
                                        <ng-template #optionSelectedTemplate let-option='option' let-id='id'>
                                            <div>
                                                {{option}}
                                            </div>
                                        </ng-template>
                                    </ng-multiselect-dropdown>

                                </div>


                                <div class='row'>
                                    <div class='col'>
                                        <div class='form-group'>
                                            <label for='anioAcademico'>Año academico objetivo</label>
                                            <input name='anioAcademico' readonly type='text' id='anioAcademico'
                                                   class='form-control' autocorrect='off' autocapitalize='none'
                                                   spellcheck='false' formControlName='anioAcademico'>
                                        </div>
                                    </div>
                                </div>

                                <div class='row'>
                                    <div class='col'>
                                        <div class='form-group'>
                                            <label for='cuatrimestre'>Cuatrimestre objetivo</label>
                                            <input type='text' readonly id='cuatrimestre' class='form-control'
                                                   autocorrect='off' autocapitalize='none' spellcheck='false'
                                                   formControlName='cuatrimestre'>
                                        </div>
                                    </div>
                                </div>

                                <div class='row'>
                                    <div class='col'>
                                        <div class='form-group'>
                                            <label for='asignaturaObjetivo'>Asignatura objetivo (Tenga en cuenta que también se consideran asignaturas un TFG o un TFM)</label>
                                            <input name='asignaturaObjetivo' readonly type='text'
                                                   id='asignaturaObjetivo' class='form-control' autocorrect='off'
                                                   autocapitalize='none' spellcheck='false'
                                                   formControlName='asignaturaObjetivo'>
                                        </div>
                                    </div>
                                </div>

                                <div class='row'>
                                    <div class='col'>
                                        <div class='form-group'>
                                            <label for='ofertaAreaServicio'>Area de implementación</label>
                                            <input name='ofertaAreaServicio' readonly type='text'
                                                   id='ofertaAreaServicio' class='form-control' autocorrect='off'
                                                   autocapitalize='none' spellcheck='false'
                                                   formControlName='ofertaAreaServicio'>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>


                        <div class='d-flex'>
                            <div class='flex-fill alert alert-danger mr-3' role='alert'
                                 *ngIf='this.crearPartenariadoProfesorForm.invalid'>
                                <div *ngIf="campoNoValido('titulo')" class='col'>{{ campoNoValido('titulo') }}</div>
                                <div *ngIf="campoNoValido('descripcion')" class='col'>{{ campoNoValido('descripcion') }}</div>
                                <div *ngIf="campoNoValido('cuatrimestre')" class='col'>{{ campoNoValido('cuatrimestre')}}</div>
                                <div *ngIf="campoNoValido('anioAcademico')" class='col'>{{ campoNoValido('anioAcademico')}}</div>
                                <div *ngIf="campoNoValido('cuatrimestre')" class='col'>{{ campoNoValido('cuatrimestre')}}</div>
                                <div *ngIf="campoNoValido('responsable')" class='col'>{{ campoNoValido('responsable')}}</div>
                                <div *ngIf="campoNoValido('ofertaObservacionesTemporales')" class='col'>{{ campoNoValido('ofertaObservacionesTemporales')}}</div>
                                <div *ngIf="campoNoValido('asignaturaObjetivo')" class='col'>{{ campoNoValido('asignaturaObjetivo')}}</div>
                                <div *ngIf="campoNoValido('ofertaAreaServicio')" class='col'>{{ campoNoValido('ofertaAreaServicio')}}</div>
                                <div *ngIf="campoNoValido('profesores')" class='col'>{{ campoNoValido('profesores')}}</div>
                                <div *ngIf="campoNoValido('fecha_limite')" class='col'>{{ campoNoValido('fecha_limite')}}</div>
                            </div>

                            <div class='ml-auto mb-2'>
                                <input type='submit' value='Crear' class='btn btn-default btn-primary'
                                       [disabled]='crearPartenariadoProfesorForm.invalid'>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </main>
</div>
<app-footer></app-footer>
