<div class="row mb-2">
    <div class="col">
        <div class="input-group">
            <input
                type="text"
                class="form-control"
                aria-label="Small"
                aria-describedby="inputGroup-sizing-sm"
                placeholder="Oferta iniciada 1"
            />
        </div>
    </div>
    <div class="col">
        <select class="custom-select">
            <option selected>Estado</option>
        </select>
    </div> 
    <div class="col">
        <select class="custom-select">
            <option selected>Profesor</option>
        </select>
    </div>
</div>
