<app-navbar></app-navbar>

<div class="container mt-4 animate__animated animate__fadeIn animate__faster">
    <h1>Preguntas más frecuentes</h1>
    <hr>
        <h5 class="px-4 py-2 mb-4 text-white display-block bg-secondary"><b>¿Qué es ApS?</b></h5>
            <p>El Aprendizaje-Servicio (ApS de ahora en adelante) es una metodología de aprendizaje cuya presencia se hace cada vez más patente en la educación superior, y consiste en implicar al alumno en proyectos que cumplan una función social, realizando servicios de carácter cívico que interconecten lo público y la sociedad civil (Del Basto, 2007; Martínez, 008).</p>
            <p>Es precisamente la cualidad cívica de los proyectos lo que produce un valor difícilmente alcanzable en los contextos de formación tradicionales, siendo de esta forma el ApS un aprendizaje de gran valor que se alcanza de forma transversal en el desarrollo formativo académico del alumno.</p>
        <hr class="mb-4" />


        <h5 class="px-4 py-2 mb-4 text-white display-block bg-secondary"><b>¿Qué es este Portal ApS y para qué sirve?</b></h5>
            <p>Este proyecto es la tercera parte de desarrollo de una comunidad web para el soporte informático de Aprendizaje-Servicio. Esta aplicación sirve al propósito de organizar y centralizar recursos sobre Aprendizaje-Servicio, con el fin de promover y dar soporte a actividades educativas de Aprendizaje-Servicio en diversos contextos académicos.</p>
            <p>Es importante resaltar que el término Virtual hace referencia a la forma en la que organizan los recursos del proyecto, y no al proyecto en sí mismo, pues este puede ser tanto virtual como presencial.</p>
        <hr class="mb-4" />


        <h5 class="px-4 py-2 mb-4 text-white display-block bg-secondary"><b>¿Cómo se genera un proyecto ApS?</b></h5>
            <p>El portal aps es una aplicación web por medio de la cual se pone en contacto a todas las partes interesadas en desarrollar un proyecto de aprendizaje-servicio. estas partes son las siguientes:</p>

            <ul>
                <li><b>La ENTIDAD:</b> Son aquellas instituciones, entidades, organismos, etc. que pueden identificar una necesidad en su seno o entorno, y desean PRESENTAR UNA INICIATIVA que puede ser RESPALDADA por un PROFESOR.</li>
                <li><b>El PROFESOR:</b> Es un docente en alguna universidad interesado en RESPALDAR UNA INICIATIVA presentada por alguna ENTIDAD, o interesado en PRESENTAR UNA INICIATIVA él mismo que pueda ser de interés para alguna ENTIDAD. Se encarga de gestionar el PROYECTO ApS, y de aceptar ALUMNOS para que desarrollen el mismo. Puede ser de la UNED o EXTERNO.</li>
                <li><b>El ALUMNO:</b> Es un estudiante que desea PARTICIPAR EN UN PROYECTO ApS para realizarlo bajo la tutorización del PROFESOR. Puede ser de la UNED o EXTERNO.</li>
            </ul>
        <hr class="mb-4" />


        <h5 class="px-4 py-2 mb-4 text-white display-block bg-secondary"><b>¿Qué es una INICIATIVA?</b></h5>

            <p>Un PROYECTO ApS siempre comienza a partir de un objeto germinal al que se denomina INICIATIVA. Una INICIATIVA, de hecho, podría dar lugar a más de un PROYECTO ApS.</p>
            <p>Una INICIATIVA es una idea plasmada en varios párrafos sobre una necesidad social que puede ser cubierta a través de un PROYECTO ApS en el futuro. La INICIATIVA puede ser creada de las siguientes formas:</p>
            <ul>
                <li>La ENTIDAD plantea una necesidad social para que algún PROFESOR, en el futuro, pueda RESPALDARLA.</li>
                <li>El PROFESOR plantea un proyecto que cubra una posible necesidad social para que alguna ENTIDAD pueda, en el futuro, valorar si tiene dicha necesidad social.</li>
            </ul>

            <p>Existe, además, dos casos especiales en los que se puede crear una INICIATIVA:</p>

            <ul>
                <li>Un ALUMNO puede PROPONER, a través de un formulario del PORTAL ApS, una INICIATIVA. El GESTOR DEL PORTAL ApS recibirá dicha PROPUESTA y decidirá si la RECHAZA o la redirige a la ENTIDAD o PROFESOR que crea convenientes para que ellos creen la INICITAIVA apropiada.</li>
                <li>El GESTOR DEL PORTAL ApS puede RESPALDAR una INICIATIVA por dos razones:</li>
                <ul>
                    <li>La INICIATIVA es de tal magnitud que no puede ser RESPALDADA por un único PROFESOR.</li>
                    <li>La INICIATIVA da lugar a más de un PROYECTO ApS.</li>
                </ul>

            </ul>

        <hr class="mb-4" />


        <h5 class="px-4 py-2 mb-4 text-white display-block bg-secondary"><b>¿Qué es un PARTENARIADO?</b></h5>

            <p>En el PORTAL ApS habrá un listado de INICIATIVAS planteadas, de modo que una ENTIDAD pueda entablar conversaciones con un PROFESOR y viceversa. A estas negociaciones sobre la INICIATIVA las llamamos PARTENARIADO. Por lo tanto, un PARTENARIADO puede tener diferentes estados según el progreso de la negociación de la INICIATIVA:</p>
            <ul>
                <li>Estado EN NEGOCIACIÓN: La INICIATIVA está siendo discutida por un PROFESOR y una ENTIDAD.</li>
                <li>Estado ACORDADO: Ambas partes están de acuerdo en los términos, objetivos y procesos en los que una INICIATIVA va a convertirse en un PROYECTO ApS. Es el nacimiento del PROYECTO ApS.</li>
                <li>Estado SIN RESPUESTA: Una de las dos partes del PARTENARIADO no responde al otro, y por lo tanto el PARTENARIADO finaliza. La INICIATIVA vuelve a estar disponible en el PORTAL ApS para que sea discutida por otras personas.</li>
                <li>Estado SUSPENDIDO: Por cualquier razón, la INICIATIVA no puede progresar, y por lo tanto el PARTENARIADO finaliza. La INICIATIVA vuelva a estar disponible en el PORTAL ApS para que sea discutida por otras personas.</li>
            </ul>

            <p>Así pues, una INICIATIVA (propuesta) da lugar a un PARTENARIADO (discusión) que a su vez se convierte en un PROYECTO ApS.</p>
        <hr class="mb-4" />



        <h5 class="px-4 py-2 mb-4 text-white display-block bg-secondary"><b>¿Qué es un PROYECTO ApS?</b></h5>

            <p>Como explicábamos en el apartado de partenariados, una INICIATIVA (propuesta) da lugar a un PARTENARIADO (discusión) que a su vez se convierte en un PROYECTO ApS.</p>

            <p>Un PROYECTO ApS al comenzar solo tiene dos de sus tres partes: ENTIDAD y PROFESOR. Ambas partes pueden ir aportando datos al PROYECTO ApS mientras algún ALUMNO interesado SOLICITA PARTICIPAR en el PROYECTO ApS. Una vez haya alguna SOLICITUD DE ALUMNO, será el PROFESOR el encargado de ACEPTAR LA SOLICITUD.</p>
            <p>Cuando dicha SOLICITUD esté aceptada, entonces el PROYECTO ApS tendrá sus tres partes fundamentales: ENTIDAD, PROFESOR y ALUMNO que INTEGRAN un PROYECTO ApS.</p>
            <p>Dentro del PORTAL ApS existirá una PÁGINA para cada PROYECTO ApS en la que los INTEGRANTES del PROYECTO ApS pueden documentar el avance del proyecto, y tendrán HERRAMIENTAS COLABORATIVAS a su disposición para favorecer la comunicación entre los INTEGRANTES de este.</p>

            <p>Un PROYECTO ApS presenta, por tanto, los siguientes ESTADOS:</p>
            <ul>
                <li>Estado ABIERTO: La INICIATIVA dio lugar a un PARTENARIADO que llegó al estado ACORDADO, y por lo tanto se ha abierto un PROYECTO ApS, que está a la espera de recibir SOLICITUDES DE ALUMNOS. En este estado, PROFESOR y ENTIDAD pueden ir trabajando en el PROYECTO ApS. Es el PROFESOR el encargado de ACEPTAR LAS SOLICITUDES de los ALUMNOS.</li>
                <li>Estado EN CURSO: El PROYECTO ApS ya no acepta más ALUMNOS. Seguirá en este estado mientras dure el desarrollo.</li>
                <li>Estado FINALIZADO: El PROYECTO ApS ha terminado, con una conclusión satisfactoria. Este estado lo decide el PROFESOR desde el estado EN CURSO. Quedará archivado para futuras consultas públicas.</li>
                <li>Estado CANCELADO: El PROYECTO ApS ha terminado, con una conclusión negativa. Este estado lo decide el PROFESOR desde los estados ABIERTO o EN CURSO. Quedará archivado para futuras consultas del GESTOR DEL PORTAL ApS.</li>
            </ul>

        <hr class="mb-4" />
</div>
<app-footer></app-footer>