<app-navbar></app-navbar>
<div class="container mt-4 animate__animated animate__fadeIn animate__faster">
    <h5 class="px-4 py-2 my-4 text-white display-block bg-secondary"><strong>Cómo participar - Entidades</strong></h5>

    <p><strong>Las ENTIDADES</strong> son aquellas instituciones, entidades, organismos, etc. que pueden identificar una necesidad en su seno o entorno, y desean PRESENTAR UNA OFERTA que puede ser RESPALDADA por un PROFESOR.</p>

    <p>Las ENTIDADES pueden presentar una DEMANDA planteando una necesidad social para que algún PROFESOR, en el futuro, pueda RESPALDARLA.</p>
    <p>Cuando un PROFESOR respalde dicha OFERTA, nacerá un PARTENARIADO en el que ENTIDAD y PROFESOR se pondrán de acuerdo en la estructura del proyecto. Una vez estén de acuerdo, el PROFESOR procederá a convertir dicho PARTENARIADO en un PROYECTO ApS a la espera de alumnos.</p>

    <p>Así pues, una OFERTA (propuesta) da lugar a un PARTENARIADO (discusión) que a su vez se convierte en un PROYECTO ApS.</p>

    <p>Es importante resaltar que cuando la OFERTA da lugar a un PROYECTO ApS, no es necesario cerrarla, puesto que pueden surgir más PROYECTOS ApS de dicha OFERTA. Si la ENTIDAD considera que no hay más posibilidades para la OFERTA; debe proceder a cerrarla.</p>

    <hr class="mb-4"/>
</div>
<app-footer></app-footer>
