<app-navbar></app-navbar>
<div class="container mt-4 animate__animated animate__fadeIn animate__faster">
    <h5
        class="px-4 py-2 mb-4 text-white display-block bg-secondary d-flex justify-content-between"
    >
        <strong>{{ pageTitle }}</strong>
        <a
        *ngIf="ofertaCrearGuard.canActivate(null, null) && (!this.usuarioService.usuario || !this.usuarioService.usuario.esSocioComunitario)"
        [routerLink]="['/ofertas/crear']"
        class="btn btn-primary border-light btn-sm"
        role="button"
      >
        Crear Oferta
      </a>
      
    </h5>

    <div
        *ngIf="
            this.usuarioService.usuario &&
            this.usuarioService.usuario.esEstudiante
        "
        class="alert alert-warning"
        role="alert"
    >
        <strong>Atención:</strong>
        Estás en la aplicación como
        <strong>ESTUDIANTE</strong>
        . Sólo Profesores pueden presentar OFERTAS.
    </div>

    <div
        *ngIf="!this.usuarioService.usuario"
        class="alert alert-warning"
        role="alert"
    >
        <strong>Atención: </strong> Estás en la aplicación como <strong>INVITADO</strong>. Solo podrás acceder a
        esta información después de hacer login en <a [routerLink]="['/login']">esta página de
        login</a>. Si no estás registrado, regístrate en <a [routerLink]="['/registro']">esta página
        de registro</a>

    </div>

    <div
        *ngIf="
            this.usuarioService.usuario &&
            this.usuarioService.usuario.esEstudiante
        "
    >
        <strong>Atención:</strong>
        Estás en la aplicación como
        <strong>ESTUDIANTE</strong>
        . Sólo Profesores pueden presentar OFERTAS.
    </div>

    <div class="row">
        <div class="col-3">
            <header class="card-header mb-2 rounded border">
                <h6 class="title mb-0">Filtros</h6>
            </header>

            <div class="card">
                <div class="filtro">
                    <header class="card-header">
                        <h6 class="title mb-0">Búsqueda</h6>
                    </header>

                    <div class="card-body">
                        <input
                            (keyup)="cargarOfertas()"
                            (search)="cargarOfertas()"
                            [(ngModel)]="terminoBusqueda"
                            class="form-control float-right mb-4"
                            placeholder="Buscar por título..."
                            type="search"
                        />
                    </div>
                </div>

                <div class="filtro" *ngIf="!(pageTitle === 'Mis Ofertas')">
                    <header class="card-header border-top rounded-0">
                        <h6 class="title mb-0">Profesor</h6>
                    </header>
                    <div class="card-body">
                        <ng-multiselect-dropdown
                                [data]="profesores"
                                [placeholder]="'Seleccione el profesor'"
                                [settings]="dropdownSettings"
                                [(ngModel)]="filterProfesores"
                                (ngModelChange)="cargarOfertas()"
                            >
                                <ng-template
                                    #optionsTemplate
                                    let-id="id"
                                    let-isSelected="isSelected"
                                    let-item
                                    let-option="option"
                                >
                                    <div
                                        style="
                                            padding: 1px 10px;
                                            margin: 40px;
                                            right: 2px;
                                            top: -2px;
                                        "
                                    >
                                    <label
                                            [ngStyle]="{
                                                'font-weight': isSelected
                                                    ? 'bold'
                                                    : ' normal',
                                                color: getItems[id].isDisabled
                                                    ? 'lightgrey'
                                                    : ''
                                            }"
                                            style="
                                                color: #333;
                                                min-width: 130px;
                                                font-weight: normal;
                                            "
                                        >{{getItems[id].nombre}}</label>
                                    </div>
                                </ng-template>
                                <ng-template
                                    #optionSelectedTemplate
                                    let-id="id"
                                    let-option="option"
                                >
                                    <div>
                                        {{ option }}
                                    </div>
                                </ng-template>
                            </ng-multiselect-dropdown>

                        <!-- <label
                            *ngFor="let prof of profesores"
                            class="form-check"
                        >
                            <input
                                (change)="cargarOfertas()"
                                [(ngModel)]="filterProfesores[prof]"
                                [value]="true"
                                class="form-check-input"
                                type="checkbox"
                                name="{{prof.id}}"
                            />
                            <span class="form-check-label">{{ prof.nombre + ' ' + prof.apellidos }}</span>
                        </label> -->
                    </div>
                </div>

                <div class="filtro">
                    <header class="card-header border-top rounded-0">
                        <h6 class="title mb-0">Tags</h6>
                    </header>
                    <div class="card-body">
                        <tag-input
                            (keypress)="computePossibleTags($event)"
                            (onAdd)="cargarOfertas()"
                            (onRemove)="cargarOfertas()"
                            [(ngModel)]="tagInput"
                        >
                            <tag-input-dropdown
                                [autocompleteItems]="tags"
                                [dynamicUpdate]="false"
                                [showDropdownIfEmpty]="true"
                            ></tag-input-dropdown>
                        </tag-input>
                    </div>
                </div>

                <div class="filtro">
                    <header class="card-header border-top rounded-0">
                        <h6 class="title mb-0">Area de implementación</h6>
                    </header>

                    <div class="card-body">
                        <ng-multiselect-dropdown
                                [data]="areasServicio"
                                [placeholder]="'Seleccione el area de implementación'"
                                [settings]="dropdownSettings"
                                [(ngModel)]="filterAreaServicio"
                                (ngModelChange)="cargarOfertas()"
                                name="area_servicio"
                            >
                                <ng-template
                                    #optionsTemplate
                                    let-id="id"
                                    let-isSelected="isSelected"
                                    let-item
                                    let-option="option"
                                >
                                    <div
                                        style="
                                            padding: 1px 10px;
                                            margin: 40px;
                                            right: 2px;
                                            top: -2px;
                                        "
                                    >
                                    <label
                                            [ngStyle]="{
                                                'font-weight': isSelected
                                                    ? 'bold'
                                                    : ' normal',
                                                color: getItems[id].isDisabled
                                                    ? 'lightgrey'
                                                    : ''
                                            }"
                                            style="
                                                color: #333;
                                                min-width: 130px;
                                                font-weight: normal;
                                            "
                                        >{{getItems[id].nombre}}</label>
                                    </div>
                                </ng-template>
                                <ng-template
                                    #optionSelectedTemplate
                                    let-id="id"
                                    let-option="option"
                                >
                                    <div>
                                        {{ option }}
                                    </div>
                                </ng-template>
                            </ng-multiselect-dropdown>
                    </div>
                </div>

                <!--<div class="filtro">
                    <header class="card-header border-top rounded-0">
                        <h6 class="title mb-0">Año Académico</h6>
                    </header>
                    <div class="card-body">
                        <input
                            (keyup)="cargarOfertas()"
                            (search)="cargarOfertas()"
                            [(ngModel)]="Fecha"
                            aria-label="Fecha"
                            class="form-control"
                            id="fecha"
                            name="fecha"
                            type="year"
                            value="2021"
                        />
                    </div>
                </div>-->

                <div class="filtro">
                    <header class="card-header border-top rounded-0">
                        <h6 class="title mb-0">Cuatrimestre</h6>
                    </header>

                    <div class="card-body">
                        <label
                            *ngFor="let c of CUATRIMESTRES; index as i"
                            class="form-check"
                        >
                            <input
                                (change)="cargarOfertas()"
                                [(ngModel)]="filterCuatrimestre[i]"
                                class="form-check-input"
                                name="c"
                                type="checkbox"
                                value=""
                            />
                            <span class="form-check-label">{{ c }}</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-9">
            <header
                class="card-header mb-2 rounded border d-flex justify-content-between"
            >
                <h6 class="title mb-0">
                    Listado de Ofertas
                    <span
                        *ngIf="totalOfertasBuscadas != totalOfertas"
                        class="leading-none"
                    >
                        <small class="font-weight-bold"
                            >(total: {{ totalOfertas }})</small
                        >
                    </span>
                </h6>

                <span
                    *ngIf="totalOfertasBuscadas == totalOfertas"
                    class="leading-none"
                >
                    Total de ofertas: {{ totalOfertas }} (mostrando del
                    {{ firstPageRecord }} al {{ lastPageRecord }})
                </span>
                <span
                    *ngIf="totalOfertasBuscadas != totalOfertas"
                    class="leading-none"
                >
                    Ofertas que coinciden con el filtro:
                    {{ totalOfertasBuscadas }} (mostrando del
                    {{ firstPageRecord }} al {{ lastPageRecord }})
                </span>
            </header>

            <div class="card my-2">
                <!-- Info de cargando -->
                <div
                    *ngIf="cargando"
                    class="mb-0 alert alert-info text-center animate__animated animate__fadeIn animate__fast"
                    role="alert"
                >
                    <h4>Cargando ofertas</h4>
                    <fa-icon [icon]="['fas', 'sync']" [spin]="true"></fa-icon>
                    <p class="mb-">Por favor, espere</p>
                </div>

                <!-- Tabla cargada -->
                <div *ngIf="!cargando" class="card-body">
                    <div class="text-right mb-3">
                        <button
                            (click)="cambiarPagina(prevPage())"
                            class="btn btn-outline-secondary"
                        >
                            Anteriores
                        </button>
                        &nbsp;
                        <button
                            (click)="cambiarPagina(nextPage())"
                            class="btn btn-outline-secondary"
                        >
                            Siguientes
                        </button>
                    </div>
                    <div class="row">
                            <app-oferta-card class="col-sm-6 col-lg-4 mb-3" *ngFor="let oferta of ofertas" [oferta]="oferta"></app-oferta-card> 
                    </div>

                    <!-- <div class="row">
                        <div class="col-sm-6 col-lg-4 mb-3">
                            <div class="card mb-3 h-100"> -->
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
