<app-navbar></app-navbar>
<div class="container mt-4 animate__animated animate__fadeIn animate__faster">
    <h1>Zona de administración</h1>
    <hr>

    <h2 class="px-4 py-2 mb-4 text-white display-block bg-secondary">Gestión de newsletters</h2>


    <div *ngIf="cargando" class="alert alert-info text-center animate__animated animate__fadeIn animate__fast" role="alert">
        <h4>Cargando</h4>
        <fa-icon [icon]="['fas', 'sync']" [spin]="true"></fa-icon>
        <p class="mb-">Por favor, espere</p>
    </div>

    <div class="card my-2 mr-2" *ngIf="!cargando">
        <div class="card-header d-flex justify-content-between">
            <span>Newsletters registrados en la aplicación</span>
            <span *ngIf="totalNewslettersBuscados == totalNewsletters">Total de iniciativas: {{ totalNewsletters }} (mostrando del {{ firstPageRecord }} al {{ lastPageRecord }})</span>
            <span *ngIf="totalNewslettersBuscados != totalNewsletters">Newsletters que coinciden con el filtro: {{ totalNewslettersBuscados }} (mostrando del {{ firstPageRecord }} al {{ lastPageRecord }})</span>

        </div>

        <div class="card-body">

            <input [(ngModel)]="terminoBusqueda" (keyup)="cargarNewsletters()" (search)="cargarNewsletters()" type="search" class="form-control float-right mb-4" placeholder="Buscar Newsletter...">

            <table class="table table-sm table-bordered">
                <caption>Listado de newsletters</caption>
                <thead>
                    <tr class="text-center">
                        <th scope="col">Suscriptor</th>
                        <th scope="col" class="w-140px">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let newsletter of newsletters">
                        <td>{{ newsletter.mail_to }}</td>
                        <td>{{ newsletter.parsedCreatedAt }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="text-right mb-3">
                <button (click)="cambiarPagina(prevLimit)" class="btn btn-outline-secondary">Anteriores</button>
                &nbsp;
                <button (click)="cambiarPagina(nextLimit)" class="btn btn-outline-secondary">Siguientes</button>
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>