<app-navbar></app-navbar>
<div class="container mt-4 animate__animated animate__fadeIn animate__faster">
    <h1>Zona de administración</h1>
    <hr>

    <h2 class="px-4 py-2 mb-4 text-white display-block bg-secondary">Gestión de mails</h2>


    <div *ngIf="cargando" class="alert alert-info text-center animate__animated animate__fadeIn animate__fast" role="alert">
        <h4>Cargando</h4>
        <fa-icon [icon]="['fas', 'sync']" [spin]="true"></fa-icon>
        <p class="mb-">Por favor, espere</p>
    </div>

    <div class="card my-2 mr-2" *ngIf="!cargando">
        <div class="card-header d-flex justify-content-between">
            <span>Mails registrados en la aplicación</span>
            <span *ngIf="totalMailsBuscados == totalMails">Total de iniciativas: {{ totalMails }} (mostrando del {{ firstPageRecord }} al {{ lastPageRecord }})</span>
            <span *ngIf="totalMailsBuscados != totalMails">Mails que coinciden con el filtro: {{ totalMailsBuscados }} (mostrando del {{ firstPageRecord }} al {{ lastPageRecord }})</span>

        </div>

        <div class="card-body">

            <input [(ngModel)]="terminoBusqueda" (keyup)="cargarMails()" (search)="cargarMails()" type="search" class="form-control float-right mb-4" placeholder="Buscar Mail...">

            <table class="table table-sm table-bordered">
                <caption>Listado de mails</caption>
                <thead>
                    <tr class="text-center">
                        <th scope="col" class="w-100px" class="w-140px">Tipo</th>
                        <th scope="col">Email</th>
                        <th scope="col" class="w-140px">Usuario</th>
                        <th scope="col" class="w-140px">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let mail of mails">
                        <td>{{ mail.type }}</td>
                        <td>
                            <b>De: </b><span [innerHTML]="mail.mail_name"></span> <<span [innerHTML]="mail.mail_from"></span>><br />
                            <b>Para: </b><span [innerHTML]="mail.to"></span><br />
                            <b>Asunto: </b>  <span [innerHTML]="mail.subject"></span><br />
                            <b>Cuerpo del email: </b> <blockquote class="border mt-2 p-3"><span [innerHTML]="mail.html"></span></blockquote>
                        </td>
                        <td>{{ mail.displayUsuario }} {{ mail.usuario ? '('+mail.displayUsuarioRol+')' : '' }}</td>
                        <td>{{ mail.parsedCreatedAt }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="text-right mb-3">
                <button (click)="cambiarPagina(prevLimit)" class="btn btn-outline-secondary">Anteriores</button>
                &nbsp;
                <button (click)="cambiarPagina(nextLimit)" class="btn btn-outline-secondary">Siguientes</button>
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>