<!-- <app-navbar></app-navbar> -->
<div class="container mt-4 animate__animated animate__fadeIn animate__faster">
    <h5 class="px-4 py-2 mb-4 text-white display-block bg-secondary d-flex justify-content-between align-items-center">
        <b *ngIf="this.oferta_id">Actualizar Oferta</b>
        <b *ngIf="!this.oferta_id">Crear Oferta</b>
        <!-- <a class="btn btn-light border-white btn-sm" [routerLink]="['/ofertas']" role="button">Volver</a> -->
    </h5>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <form
                    id="form-oferta"
                    role="form"
                    autocomplete="off"
                    *ngIf="crearOfertaForm"
                    [formGroup]="crearOfertaForm"
                    (ngSubmit)="enviarOferta()">

                    <div class="card-body">

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>Título *</label>
                                    <input name="titulo" type="text" id="titulo" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false" placeholder="Título corto y descriptivo"  formControlName="titulo">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="area_servicio">Area de implementación *</label>
                            <ng-multiselect-dropdown
                            name="area_servicio"
                            [settings]="dropdownSettings"
                            [placeholder]="'Selecciona el area de servicio'"
                            [data]="areasServicio"
                            formControlName="area_servicio"
                            >
                            <ng-template
                                #optionsTemplate
                                let-item
                                let-option="option"
                                let-id="id"
                                let-isSelected="isSelected"
                            >
                                <div
                                style="
                                    padding: 1px 10px;
                                    margin: 40px;
                                    right: 2px;
                                    top: -2px;

                                "
                                >
                                <label
                                    style="color: #333; min-width: 130px; font-weight: normal;"
                                    [ngStyle]="{ 'font-weight': isSelected? 'bold':' normal','color': getItems[id].isDisabled? 'lightgrey': ''}"
                                    >{{getItems[id].nombre}}</label
                                >
                                </div>
                            </ng-template>
                            <ng-template #optionSelectedTemplate let-option="option" let-id="id">
                                <div>
                                {{option}}
                                </div>
                            </ng-template>
                            </ng-multiselect-dropdown>
                           
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="descripcion">Descripción *</label>
                                    <textarea id="descripcion" name="descripcion" class="form-control" placeholder="Escribe una descripción sobre la oferta" rows="8" formControlName="descripcion"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>Asignatura objetivo (Tenga en cuenta que también se consideran asignaturas un TFG o un TFM) *</label>
                                    <input name="asignatura" type="text" id="asignatura" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false" placeholder="Asignatura objetivo"  formControlName="asignatura">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>Fecha límite para terminar la definición del proyecto</label>
                                    <input name="fecha_limite" type="date" id="fecha_limite" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false"   formControlName="fecha_limite" value="2021-07-01">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="cuatrimestre">Cuatrimestre Objetivo</label>
                                    <select name="cuatrimestre" id="cuatrimestre" formControlName="cuatrimestre" class="form-control" placeholder="Elige un cuatrimestre">
                                        <option value="Primer cuatrimestre">Primer cuatrimestre</option>
                                        <option value="Segundo cuatrimestre">Segundo cuatrimestre</option>
                                        <option value="Anual">Anual</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>Año académico objetivo</label>
                                    <input name="anio_academico" type="number" id="anio_academico" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false" placeholder="Año académico"  formControlName="anio_academico" min="2021" value="2021" value="2022">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="observaciones">Si tiene alguna peticion especial en cuanto a las fechas, escribala aqui</label>
                                    <textarea id="observaciones" name="observaciones" class="form-control" placeholder="Escribe cualquier observación temporal que consideres adecuada" rows="8" formControlName="observaciones"></textarea>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="row" *ngIf="this.oferta_id">
                            <div class="col-6 justify-content-between">
                                <div class="border p-3 w-100 mb-3">
                                    <div class="form-group">
                                        <label for="ficheros">Ficheros</label>

                                        <div class="form-group">
                                            <label for="file-upload-2" class="custom-file-upload">
                                                <i class="fa fa-cloud-upload"></i> Subir Fichero (solo pdf)
                                            </label>
                                            <input id="file-upload-2" type="file" (change)="subirFichero($event.target.files[0])"/>
                                        </div>

                                    </div>

                                    <p *ngIf="oferta.archivos.length === 0">No se ha subido ningún archivo para esta oferta</p>

                                    <ul *ngIf="oferta.archivos.length > 0" class="list-group">
                                        <li *ngFor="let archivo of oferta.archivos" class="list-group-item">
                                            <a href="{{ archivo.url }}" target="_blank">{{ archivo.client_name }}</a>
                                            <span class="float-right cursor-pointer text-danger" aria-label="Borrar Fichero" (click)="borrarFichero(archivo._id)"><fa-icon [icon]="['fas', 'trash']"></fa-icon></span>
                                        </li>
                                    </ul>
                                </div>
                            </div> -->

                            <!-- <div class="col-6 justify-content-between">

                                <div class="border p-3 w-100 mb-3">

                                    <div class="d-flex justify-content-between">
                                        <label>Imagen de oferta {{ oferta.imagen === '' ? ' (actualmente por defecto)' : '' }}</label>
                                        <span class="remove-image-btn" aria-label="Borrar Imagen" *ngIf="!this.imagenPreview && oferta.imagen != ''" (click)="borrarImagen()">borrar actual</span>
                                    </div>

                                    <div class="row">

                                        <div class="col-6">
                                            <img *ngIf="this.imagenPreview" [src]="this.imagenPreview" class="img-fluid" />
                                            <img *ngIf="!this.imagenPreview" [src]="oferta.imagenUrl" class="img-fluid" />
                                        </div>

                                        <div class="col-6 d-flex flex-column justify-content-between">

                                            <div class="form-group">
                                                <label for="file-upload" class="custom-file-upload">
                                                    <i class="fa fa-cloud-upload"></i> Subir imagen
                                                </label>
                                                <input id="file-upload" type="file" (change)="cambiarImagen($event.target.files[0])"/>
                                            </div>

                                            <button type="button" class="btn btn-secondary btn-sm" [disabled]="!imagenSubir" (click)="actualizarImagen()">Actualizar Imagen</button>
                                        </div>
                                    </div>
                                </div>

                            </div> -->
                        <!-- </div> -->

                        <div class="row" *ngIf="this.usuarioService.usuario.esGestor && USUARIOS">
                            <div class="col">
                                <div class="form-group">
                                    <label for="creador">creador (solo modificable por el gestor del portal)</label>
                                    <select id="creador" name="area" class="form-control" formControlName="creador">
                                        <option value="">Elije un usuario que se haga cargo de la oferta</option>
                                        <option *ngFor="let USUARIO of USUARIOS" [selected]="this.oferta.creador == USUARIO.uid" value="{{ USUARIO.uid }}">{{ USUARIO.email }} - {{ USUARIO.displayRol }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                          <div class="col">
                            <div class="card text-white bg-info mb-3" *ngIf="!this.oferta_id">
                              <div class="card-body">
                                <h5 class="card-title text-center"><fa-icon [icon]="['fas', 'info-circle']"></fa-icon> Info</h5>
                                <p class="card-text">Una vez creados los datos básicos de la oferta, se podrán subir archivos e imágenes a la misma, así como editar sus datos básicos.</p>
                              </div>
                            </div>
                          </div>

                            <!-- <div class="col" *ngIf = "!this.oferta_id">
                                <div class="form-check text-right m-4">
                                    <input type="checkbox" class="form-check-input" id="terminos_aceptados" formControlName="terminos_aceptados">
                                    <label class="form-check-label">Entiendo <a href="javascript:void(0)" target="_blank" [routerLink]="['/que-es-ApS']">Qué es un Proyecto ApS</a></label>
                                </div>

                            </div> -->
                        </div>

                        <label style="color:green; margin-top:0.5cm;">Los campos obligatorios tienen asterisco.</label>

                        <div class="d-flex">
                            <div class="flex-fill alert alert-danger mr-3" role="alert" *ngIf="this.crearOfertaForm.invalid && this.formSubmitted">
                                <div *ngIf="campoNoValido('titulo')" class="col">{{ campoNoValido('titulo') }}</div>
                                <div *ngIf="campoNoValido('area_servicio')" class="col">{{ campoNoValido('area_servicio') }}</div>
                                <div *ngIf="campoNoValido('descripcion')" class="col">{{ campoNoValido('descripcion') }}</div>
                                <div *ngIf="campoNoValido('asignatura')" class="col">{{ campoNoValido('asignatura') }}</div>
                                <div *ngIf="campoNoValido('fecha_limite')" class="col">{{ campoNoValido('fecha_limite') }}</div>
                                <div *ngIf="campoNoValido('cuatrimestre')" class="col">{{ campoNoValido('cuatrimestre') }}</div>
                                <div *ngIf="campoNoValido('anio_academico')" class="col">{{ campoNoValido('anio_academico') }}</div>
                                <!-- <div *ngIf="campoNoValido('observaciones')" class="col">{{ campoNoValido('observaciones') }}</div> -->
                                <!-- <div *ngIf="campoNoValido('terminos_aceptados')" class="col">{{ campoNoValido('terminos_aceptados') }}</div> -->
                            </div>

                            <div class="ml-auto mb-2">
                                <input *ngIf="!this.oferta_id" type="submit" [value]="this.formSending ? 'Creando...' : 'Crear oferta'" class="btn btn-default btn-secondary m-4" [disabled]="this.formSending || (this.formSubmitted && this.crearOfertaForm.invalid)">
                                <input *ngIf="this.oferta_id" type="submit" [value]="this.formSending ? 'Actualizando...' : 'Actualizar oferta'" class="btn btn-default btn-secondary m-4" [disabled]="this.formSending || (this.formSubmitted && this.crearOfertaForm.invalid)">
                            </div>
                        </div>


                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- <app-footer></app-footer> -->
