<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

    <div class="container">

        <a [routerLink]="['/']" class="navbar-brand">
            <img alt="" height="30" src="/assets/img/logo-uned.jpg" width="30">
        </a>

        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="mr-auto navbar-nav text-center text-lg-left">
                <li class="nav-item" routerLinkActive="active">
                    <a [routerLink]="['/que-es-ApS']" class="nav-link">¿Qué es el ApS?</a>
                </li>

                <li *ngIf=mostrarOfertasDeServicio() class="dropdown nav-item">
                    <a [routerLink]="['/ofertas']" class="nav-link">Ofertas de servicio</a>
                </li>

                <li *ngIf=mostrarDemandasDeServicio() class="dropdown nav-item">
                    <a [routerLink]="['/demandas']" class="nav-link">Demandas de servicio</a>
                </li>

                <li *ngIf=mostrarPartenariados() class="dropdown nav-item">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">Paternariados</a>
                </li>

                <li class="dropdown nav-item">
                    <a [routerLink]="['/proyectos']" class="nav-link">Proyectos</a>
                </li>

                <li class="dropdown nav-item" routerLinkActive="active">
                    <a class="nav-link dropdown-toggle"
                       data-toggle="dropdown">ApS {{getUniversidad()}}
                        <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu text-center text-lg-left">
                        <a [routerLink]="['/sobre-ApS-UNED/quienes-somos']" class="dropdown-item"
                           routerLinkActive="active">Quiénes
                            somos</a>
                        <a [routerLink]="['/sobre-ApS-UNED/historia']" class="dropdown-item" routerLinkActive="active">Historia</a>
                        <a [routerLink]="['/sobre-ApS-UNED/contacta']" class="dropdown-item" routerLinkActive="active">Contacta</a>
                    </div>
                </li>

                <li *ngIf="this.usuarioService.usuario && this.usuarioService.usuario.esGestor" class="dropdown nav-item"
                    routerLinkActive="active">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">Zona Admin <span
                        class="caret"></span></a>
                    <div class="dropdown-menu text-center text-lg-left">
                        <a [routerLink]="['/gestor/gestion-usuarios']" class="dropdown-item" routerLinkActive="active">Usuarios</a>
                        <a [routerLink]="['/gestor/gestion-emails']" class="dropdown-item" routerLinkActive="active">Emails</a>
                        <a [routerLink]="['/gestor/gestion-suscripciones']" class="dropdown-item"
                           routerLinkActive="active">Suscripciones newsletter</a>
                    </div>
                </li>
            </ul>

            <ul *ngIf="!isLoggedIn" class="nav navbar-nav navbar-right">
                <li class="nav-item" routerLinkActive="active">
                    <a [routerLink]="['/registro']" class="nav-link"><span class="glyphicon glyphicon-user"></span>
                        Registro</a>
                </li>

                <li class="nav-item" routerLinkActive="active">
                    <a [routerLink]="['/login']" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                </li>
            </ul>

            <ul *ngIf="isLoggedIn" class="navbar-nav navbar-right">
                <li>
                    <a aria-expanded="false" aria-haspopup="true"
                    class="d-flex justify-content-end pr-1"
                    data-toggle="modal" data-target="#myModal" role="button"  (click)="cargarNotificacion()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                    </svg>
                    <span class="badge bg-danger ms-1 mb-3 text-center" *ngIf="totalNotificaciones > 0">{{ totalNotificaciones }}</span> 
                    </a>
                    <div class="modal fade miModal" id="myModal">
                        <div class="modal-dialog diag" role="document">
                        <div class="modal-content">
                      
                            <div class="modal-header diagHead">
                                <h4 class="modal-title diagTit">Notificaciones</h4>
                                <button type="button" class="btn-close" style="background-color:aliceblue" data-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <div style="max-height: 300px; overflow-y: auto;">
                                    <div class="list-group">
                                      <a *ngFor="let notificacion of notificaciones" data-dismiss="modal" [routerLink]="['/mi-notificacion/', notificacion.id]" class="list-group-item list-group-item-action">
                                        <div class="d-flex w-100 justify-content-between">
                                          <h5 class="mb-1">{{ notificacion.titulo }}</h5>
                                          <small>{{ notificacion.fecha }}</small>
                                        </div>
                                        <p class="mb-1">{{ notificacion.mensaje }}</p>
                                      </a>
                                    </div>
                                </div>

                            </div>
                            <div class ="modal-footer">
                                <a [routerLink]="['/mi-resumen']" routerLinkActive="font-weight-bold"><button type="button" class="btn btn-info" data-dismiss="modal">Ver Todo</button></a>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">

                    <a aria-expanded="false" aria-haspopup="true"
                       class="nav-link dropdown-toggle d-flex justify-content-end pr-3"
                       data-toggle="dropdown" href="#" id="navbarDropdownMenuLink" role="button">
                        <div class="d-flex flex-column align-items-end justify-content-center mr-2">
                            <span title="{{ usuarioService.usuario.additionalInfoPlain }}">{{ usuarioService.usuario.nombre }} {{
                            usuarioService.usuario.apellidos }}</span>
                            <span><strong>{{ usuarioService.usuario.displayRol }}</strong></span>
                        </div>

                        <img alt="user-image" aria-label="Image URL" class="rounded-circle" height="40" src="{{usuarioService.usuario.imagenUrl}}" width="40">
                        <!-- <img alt="user-image" aria-label="Image URL" class="rounded-circle" height="40" src="usuarioService.getAvatar" width="40"> -->
                    </a>

                    <div aria-labelledby="navbarDropdownMenuLink"
                        class="dropdown-menu text-center text-lg-left profile-dropdown">
                        <a [routerLink]="['/mi-resumen']" class="dropdown-item" routerLinkActive="font-weight-bold">Resumen</a>
                        <a *ngIf="this.usuarioService.usuario && this.usuarioService.usuario.esSocioComunitario" [routerLink]="['/mis-demandas']" class="dropdown-item" routerLinkActive="font-weight-bold">Mis Demandas</a>
                        <a *ngIf="this.usuarioService.usuario && !this.usuarioService.usuario.esSocioComunitario" [routerLink]="['/mis-ofertas']" class="dropdown-item" routerLinkActive="font-weight-bold">Mis Ofertas</a>
                        <a *ngIf="this.usuarioService.usuario && (this.usuarioService.usuario.esGestor || this.usuarioService.usuario.esSocioComunitario || this.usuarioService.usuario.esProfesor)" [routerLink]="['/mis-partenariados']" class="dropdown-item" routerLinkActive="font-weight-bold">Mis Partenariados</a>
                        <a *ngIf="this.usuarioService.usuario" [routerLink]="['/mis-proyectos']" class="dropdown-item" routerLinkActive="font-weight-bold">Mis Proyectos</a>
                        <a [routerLink]="['/perfil']" class="dropdown-item" routerLinkActive="font-weight-bold">Editar Perfil</a>
                        <a (click)="logout()" class="dropdown-item" href="javascript:void(0)">Salir</a>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</nav>
