body {
    background-color: #FAFAFA;
    padding: 0 0 100px 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

p, li {
    font-size: 0.90rem;
}

h2, .h2 {
    font-size: 1.5rem;
}

hr.separator {
    border-top:1px solid #f05f40;
}

ul.no-list-style {
    list-style-type: none;
}

.cursor-pointer {
    cursor: pointer;
}

.w-40px {
    width: 40px;
}

.w-100px {
    width: 100px;
}

.w-140px {
    width: 140px;
}

.font-3 {
  font-size: 3rem;
}

.border-2 {
  border: 2px solid;
}

.leading-none {
  line-height: 1;
}

.bg-uned-green {
  background-color: #01573c;
}