<app-navbar></app-navbar>
<div class="container mt-4 animate__animated animate__fadeIn animate__faster">

    <h5 class="px-4 py-2 mb-4 text-white display-block bg-secondary d-flex justify-content-between align-items-center">
        <b>Ver Iniciativa</b>
        <a class="btn btn-primary border-white btn-sm" [routerLink]="['/iniciativas']" role="button">Volver</a>
    </h5>


    <div class="alert alert-warning" role="alert" *ngIf="!this.usuarioService.usuario">
        <b>Atención: </b> Estás en la aplicación como <b>INVITADO</b>. Sólo Profesores y Entidades pueden presentar, respaldar o sumarse a INICIATIVAS.
    </div>

    <div class="alert alert-warning" role="alert" *ngIf="this.usuarioService.usuario && this.usuarioService.usuario.esEstudiante">
        <b>Atención: </b> Estás en la aplicación como <b>ESTUDIANTE</b>. Sólo Profesores y Entidades pueden presentar, respaldar o sumarse a INICIATIVAS.
    </div>

    <div class="alert alert-warning" role="alert" *ngIf="iniciativa?.proponedor.rol === 'ROL_PROFESOR' && this.usuarioService.usuario && this.usuarioService.usuario.esProfesor">
        <b>Atención: </b> Estás en la aplicación como <b>PROFESOR</b>, pero esta iniciativa ha sido presentada por otro profesor. Sólo una Entidad puede respaldar o sumarse a esta INICIATIVA.
    </div>

    <div class="alert alert-warning" role="alert" *ngIf="iniciativa?.proponedor.rol === 'ROL_ENTIDAD' && this.usuarioService.usuario && this.usuarioService.usuario.esSocioComunitario">
        <b>Atención: </b> Estás en la aplicación como <b>ENTIDAD</b>, pero esta iniciativa ha sido presentada por otra entidad. Sólo un Profesor puede respaldar o sumarse a esta INICIATIVA.
    </div>

    <div class="alert alert-warning" role="alert" *ngIf="iniciativa?.estado !== 'Abierta' ">
        <b>Atención: </b> Esta INICIATIVA ya está archivada por su creador, por lo que no puede ser respaldada. Se puede seguir viendo a modo de consulta. Si crees que esta iniciativa se ha cerrado por error, o puede interesarte respaldarla, por favor, <a class="font-weight-bold" [routerLink]="['/sobre-ApS-UNED/contacta']">contacta con el Gestor</a> para que evalúe si puede proceder a abrirla de nuevo.
    </div>




    <!-- Info de cargando -->
    <div *ngIf="!iniciativa" class="mb-0 alert alert-info text-center animate__animated animate__fadeIn animate__fast" role="alert">
        <h4>Cargando iniciativa...</h4>
        <fa-icon [icon]="['fas', 'sync']" [spin]="true"></fa-icon>
        <p class="mb-">Por favor, espere</p>
    </div>


    <div class="row" *ngIf="iniciativa">

        <div class="col-9">

            <header class="card-header mb-2 border d-flex justify-content-between align-items-center">
                <h6 class="title mb-0"><b>Iniciativa: {{ iniciativa.titulo }}</b></h6>
                <span><b>Estado: {{ iniciativa.estado }}</b></span>
            </header>

            <div class="card my-2 p-3">
                <div class="d-flex justify-content-between">
                    <div><b>Rama de conocimiento:</b> {{ iniciativa.rama }}</div>
                    <div><b>Ciudad:</b> {{ iniciativa.ciudad }}</div>
                </div>
                <hr />

                <p><b>Fecha de registro de la iniciativa:</b> {{ iniciativa.parsedCreatedAt }}</p>
                <p><b>Descripción:</b> {{ iniciativa.descripcion }}</p>
                <p><b>¿Quién es el responsable de la iniciativa?:</b></p>
                <ul>
                    <li><b><i>Nombre y Apellidos: </i></b>{{ iniciativa.proponedor.nombre}} {{ iniciativa.proponedor.apellidos}}</li>
                    <li>
                        <b><i>
                            <span *ngIf="['ROL_ESTUDIANTE', 'ROL_PROFESOR', 'ROL_GESTOR'].includes(iniciativa.proponedor.rol)">Universidad / Titulación: </span>
                            <span *ngIf="['ROL_ESTUDIANTE'].includes(iniciativa.proponedor.rol)">Sector: </span>
                        </i></b>
                        {{ iniciativa.proponedor.additionalInfoPlain || 'Sin información'}}
                    </li>
                    <li><b><i>Rol en la aplicación: </i></b>{{ iniciativa.proponedor.displayRol}}</li>
                </ul>

                <p class="mt-3"><b>Imagen de la iniciativa:</b></p>
                <img [src]="iniciativa.imagenUrl" class="img-fluid">

            </div>
        </div>

        <div class="col-3">

            <div class="card">

                <div class="filtro">
                    <header class="card-header rounded-0">
                        <h6 class="title mb-0">Respaldar </h6>
                    </header>

                    <div class="card-body">
                        <div *ngIf="iniciativa?.estado === 'Abierta' && (
                                (this.usuarioService.usuario && this.usuarioService.usuario.esGestor)
                                || (iniciativa?.proponedor.rol === 'ROL_PROFESOR' && this.usuarioService.usuario && this.usuarioService.usuario.esEntidad)
                                || (iniciativa?.proponedor.rol === 'ROL_ENTIDAD' && this.usuarioService.usuario && this.usuarioService.usuario.esProfesor)
                            )
                            ;else no_puede_respaldar">

                            <button class="btn btn-warning border-white btn-sm w-100 font-weight-bold mb-2" (click)="respaldar()" role="button">RESPALDAR Iniciativa</button>

                            <p>Si pulsas respaldar, se creará un partenariado en el que podrá discutir la inicitva con la otra parte.</p>
                        </div>
                            <ng-template #no_puede_respaldar>No puedes respaldar esta iniciativa</ng-template>
                    </div>
                </div>

                <div class="filtro">
                    <header class="card-header border-top rounded-0">
                        <h6 class="title mb-0">Archivos de interés </h6>
                    </header>

                    <div class="card-body">
                        <p *ngIf="iniciativa.archivos.length === 0">No se ha subido ningún archivo para esta iniciativa</p>
                        <ul *ngIf="iniciativa.archivos.length > 0" class="list-group">
                            <li *ngFor="let archivo of iniciativa.archivos" class="list-group-item px-3">
                                <a href="{{ archivo.url }}" target="_blank"><fa-icon [icon]="['fas', 'download']"></fa-icon> {{ archivo.client_name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="filtro">
                    <header class="card-header border-top rounded-0">
                        <h6 class="title mb-0">Partenariados generados </h6>
                    </header>

                    <div class="card-body">
                        <p *ngIf="iniciativa.partenariados.length">{{ iniciativa.partenariados.length }} partenariado{{ iniciativa.partenariados.length == 1 ? '' : 's' }}<br />(solo para participantes)</p>
                        <p *ngIf="!iniciativa.partenariados.length">Esta iniciativa aún no ha generado ningún partenariado.</p>

                        <ul  *ngIf="iniciativa.partenariados.length" class="list-group">
                            <li *ngFor="let partenariado of iniciativa.partenariados; let i = index" [attr.data-index]="i" class="list-group-item px-2 text-center">
                                <a [routerLink]="['/partenariados/ver/', partenariado]"><fa-icon [icon]="['fas', 'eye']"></fa-icon> Ver Partenariado {{ i + 1 }}</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>




    </div>

</div>
<app-footer></app-footer>
