<app-navbar></app-navbar>
<div class="container mt-4 animate__animated animate__fadeIn animate__faster">

    <h5 class="px-4 py-2 mb-4 text-white display-block bg-secondary d-flex justify-content-between align-items-center">
        <strong>Ver Proyecto</strong>
        <a [routerLink]="['/proyectos']" class="border-white btn btn-primary btn-sm" role="button">Volver a Proyectos</a>
    </h5>

    <div *ngIf="proyecto?.estado !== 'En curso' && proyecto?.estado !== 'Abierto'" class="alert alert-warning" role="alert">
        <strong>Atención: </strong> Esta PROYECTO ya no está en curso. Se puede seguir viendo a modo de consulta. Si crees que este proyecto se ha cerrado por error, por favor, <a [routerLink]="['/sobre-ApS-UNED/contacta']" class="font-weight-bold">contacta con el Gestor</a> para que evalúe si puede proceder a abrirlo de nuevo.
    </div>

    <div *ngIf="proyecto?.estado === 'Abierto' && this.usuarioService.usuario && this.usuarioService.usuario.esEstudiante" class="alert alert-warning" role="alert">
        <strong>Atención: </strong> Esta PROYECTO está a la espera de ESTUDIANTES interesados en realizarlo.
        <button (click)="pendienteImplementar()" class="float-right btn btn-success btn-sm">Solicitar acceso</button>
    </div>


    <div *ngIf="!tienePermisoEdicion()" class="alert alert-warning" role="alert">
        <strong>Atención: </strong> No tienes permisos para participar en el proyecto. Puedes acceder a modo de consulta.
    </div>


    <!-- Info de cargando -->
    <div *ngIf="!proyecto" class="mb-0 text-center alert alert-info animate__animated animate__fadeIn animate__fast" role="alert">
        <h4>Cargando proyecto...</h4>
        <fa-icon [icon]="['fas', 'sync']" [spin]="true"></fa-icon>
        <p class="mb-">Por favor, espere</p>
    </div>


    <div *ngIf="proyecto" class="row">

        <div class="col-9">

            <header class="mb-2 border card-header d-flex justify-content-between align-items-center">
                <h6 class="mb-0 title"><strong>Proyecto: {{ proyecto.titulo }}</strong></h6>
                <span><strong>Estado: {{ proyecto.estado }}</strong></span>
            </header>

            <div class="p-3 my-2 card">
                <div class="d-flex justify-content-between">
                    <div><strong>Rama de conocimiento:</strong> {{ proyecto.rama }}</div>
                    <div><strong>Ciudad:</strong> {{ proyecto.ciudad }}</div>
                </div>
                <hr/>

                <p><strong>Fecha de registro de la proyecto:</strong> {{ proyecto.parsedCreatedAt }}</p>
                <p><strong>Descripción:</strong> {{ proyecto.descripcion }}</p>
                <p><strong>¿Quién es el responsable de la proyecto?:</strong></p>
                <ul>
                    <li><strong><em>Nombre y Apellidos: </em></strong>{{ proyecto.proponedor.nombre}} {{ proyecto.proponedor.apellidos}}</li>
                    <li>
                        <strong><em>
                            <span *ngIf="['ROL_ESTUDIANTE', 'ROL_PROFESOR', 'ROL_GESTOR'].includes(proyecto.proponedor.rol)">Universidad / Titulación: </span>
                            <span *ngIf="['ROL_ESTUDIANTE'].includes(proyecto.proponedor.rol)">Sector: </span>
                        </em></strong>
                        {{ proyecto.proponedor.additionalInfoPlain || 'Sin información'}}
                    </li>
                    <li><strong><em>Rol en la aplicación: </em></strong>{{ proyecto.proponedor.displayRol}}</li>
                </ul>


            </div>


            <header *ngIf="tienePermisoEdicion()" class="mb-2 border card-header d-flex justify-content-between">
                <h6 class="mb-0 title"><strong>Escribir Mensaje</strong></h6>
            </header>

            <header *ngIf="!tienePermisoEdicion()" class="mb-2 border card-header d-flex justify-content-between">
                <h6 class="mb-0 title"><strong>El proyecto no está abierto ni en curso y no se pueden escribir mensajes </strong></h6>
            </header>

            <div *ngIf="tienePermisoEdicion()" class="p-3 my-2 card">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="mensaje">Mensaje</label>
                        <textarea [(ngModel)]="mensaje" class="form-control" id="mensaje" name="mensaje" placeholder="Escribe un mensaje" rows="3"></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <input (click)="enviarMensaje()" [disabled]="this.mensaje == ''" [value]="'Enviar mensaje'" class="float-right btn btn-success" type="submit">
                </div>
            </div>

            <header class="mb-2 border card-header d-flex justify-content-between">
                <h6 class="mb-0 title"><strong>Histórico de mensajes del proyecto</strong></h6>
            </header>


            <div *ngIf="!numeroMensajes()" class="p-3 my-2 card">
                Aún no hay ningún mensaje...
            </div>

            <div *ngFor="let mensaje of proyecto.mensajes" class="p-3 my-2 card">
                <div class="d-flex justify-content-between">
                    <div><strong>Autor:</strong> {{ mensaje.nombre }} {{ mensaje.apellidos }} <{{ mensaje.email }}> [{{ mensaje.rol}}]</div>
                    <div><strong>Fecha:</strong> {{ parseFecha(mensaje.fecha) }}</div>
                </div>
                <hr/>
                <p>{{ mensaje.texto }}</p>
            </div>

        </div>

        <div class="col-3">

            <div class="card">

                <div class="filtro">
                    <header class="border card-header">
                        <h6 class="mb-0 title">Estado </h6>
                    </header>

                    <div class="card-body">
                        <div>
                            <div class="mb-4 text-center font-weight-bold">{{proyecto.estado}}</div>
                        </div>

                    </div>
                </div>

                <div *ngIf="this.usuarioService.usuario && (this.usuarioService.usuario.esProfesor || this.usuarioService.usuario.esGestor)" class="filtro">
                    <header class="card-header border-top rounded-0">
                        <h6 class="mb-0 title">Cancelar Proyecto </h6>
                    </header>

                    <div class="card-body">
                        <div>
                            <button (click)="cambiarEstado('En curso')" *ngIf="tienePermisoEdicion() && this.usuarioService.usuario && (this.usuarioService.usuario.esProfesor || this.usuarioService.usuario.esGestor) && proyecto.estado == 'Abierto'" class="mb-2 border-white btn btn-success btn-sm w-100 font-weight-bold" role="button">Comenzar (en curso)</button>
                            <button (click)="cambiarEstado('Finalizado')" *ngIf="tienePermisoEdicion() && this.usuarioService.usuario && (this.usuarioService.usuario.esProfesor || this.usuarioService.usuario.esGestor) && (proyecto.estado == 'Abierto' || proyecto.estado == 'En curso')" class="mb-2 border-white btn btn-warning btn-sm w-100 font-weight-bold" role="button">Cerrar - Finalizado</button>
                            <button (click)="cambiarEstado('Cancelado')" *ngIf="tienePermisoEdicion() && this.usuarioService.usuario && (this.usuarioService.usuario.esProfesor || this.usuarioService.usuario.esGestor) && (proyecto.estado == 'Abierto' || proyecto.estado == 'En curso')" class="mb-2 border-white btn btn-danger btn-sm w-100 font-weight-bold" role="button">Cerrar - Suspendido</button>

                            <button (click)="cambiarEstado('En curso')" *ngIf="tienePermisoEdicion() && this.usuarioService.usuario && this.usuarioService.usuario.esGestor && proyecto.estado != 'En curso'" class="mb-2 border-white btn btn-success btn-sm w-100 font-weight-bold" role="button">Reabrir Proyecto</button>
                        </div>

                    </div>
                </div>

                <div *ngIf="tienePermisoEdicion() && this.usuarioService.usuario && this.usuarioService.usuario.esGestor && (proyecto.estado != 'Abierto' ||  proyecto.estado != 'En curso')" class="filtro">
                    <header class="card-header border-top rounded-0">
                        <h6 class="mb-0 title">Recomenzar Proyecto </h6>
                    </header>

                    <div class="card-body">
                        <div>
                            <button (click)="cambiarEstado('Abierto')" *ngIf="proyecto.estado != 'Abierto'" class="mb-2 border-white btn btn-success btn-sm w-100 font-weight-bold" role="button">Pasar a Estado "Abierto"</button>
                            <button (click)="cambiarEstado('En curso')" *ngIf="proyecto.estado != 'En curso'" class="mb-2 border-white btn btn-success btn-sm w-100 font-weight-bold" role="button">Pasar a Estado "En curso"</button>
                        </div>

                    </div>
                </div>

                <div class="filtro">
                    <header class="card-header border-top rounded-0">
                        <h6 class="mb-0 title">Archivos de interés </h6>
                    </header>

                    <div class="card-body">
                        <p *ngIf="proyecto.archivos.length === 0">No se ha subido ningún archivo para este proyecto</p>
                        <ul *ngIf="proyecto.archivos.length > 0" class="list-group">
                            <li *ngFor="let archivo of proyecto.archivos" class="list-group-item">
                                <a href="{{ archivo.url }}" target="_blank">{{ archivo.client_name }}</a>
                                <span (click)="borrarFichero(archivo._id)" *ngIf="this.usuarioService.usuario.esGestor" aria-label="Borrar Fichero" class="float-right remove-image-btn">(x)</span>
                            </li>
                        </ul>


                        <div *ngIf="tienePermisoEdicion()" class="row">
                            <div class="col-12 justify-content-between">
                                <div class="form-group">
                                    <label class="custom-file-upload" for="file-upload-2">
                                        <em class="fa fa-cloud-upload"></em> Subir Fichero (solo pdf)
                                    </label>
                                    <input (change)="subirFichero($event.target.files[0])" id="file-upload-2" type="file"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="this.usuarioService.usuario && (this.usuarioService.usuario.esGestor || this.usuarioService.usuario.esProfesor || this.usuarioService.usuario.esEntidad)" class="filtro">
                    <header class="card-header border-top rounded-0">
                        <h6 class="mb-0 title">Partenariado origen </h6>
                    </header>

                    <div class="card-body">

                        <ul class="list-group">
                            <li class="list-group-item"><a [routerLink]="['/partenariados/ver/', proyecto.partenariado]">Ver Partenariado Origen</a></li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>


    </div>

</div>
<app-footer></app-footer>
